
<app-basic-filter *ngIf="filter" [filter]="filter" (onSearch)="onSearch($event)"></app-basic-filter>

<app-basic-table *ngIf="tablaTiposConstantes" [table]="tablaTiposConstantes"
    (beforeExecuteCrudAction)="beforeExecuteCrudAction($event)"
    (afterExecuteCrudAction)="afterExecuteCrudAction($event)"    
    >
</app-basic-table>