<ng-template #modalRecalculo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Alta de recálculo de fórmulas</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" style="font-size: 12px; ">
        <div class="panel" style="padding:0px 20px 0px 20px">
            <div class="row">
                <div class="col-md-6 label-recalc">
                    Código de la variable
                </div>
                <div class="col-md-6 value-recalc">
                    {{variableRecalculo.cod_variable}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 label-recalc">
                    Descripción de la variable
                </div>
                <div class="col-md-6 value-recalc">
                    {{variableRecalculo.desc_variable}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 label-recalc">
                    Fecha Inicio
                </div>
                <div class="col-md-6 value-recalc">
                    <input class="form-control" placeholder="dd/mm/yyyy" name="fechaIniRecalculo" autocomplete="off"
                        style="width: 100px;" [matDatepicker]="mdp" [(ngModel)]="fechaIniRecalculo"
                        (click)="mdp.open()">
                    <span style="color: red;font-size: 11px;" *ngIf="errorFechaIniRecalculo">
                        {{errorFechaIniRecalculo}}</span>

                    <mat-datepicker #mdp></mat-datepicker>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                            style="color: #343a40 !important;" (click)="mdp.open()" type="button"></button>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-6 label-recalc">
                    Fecha Fin
                </div>
                <div class="col-md-6 value-recalc">
                    <input class="form-control" placeholder="dd/mm/yyyy" name="fechaFinRecalculo" autocomplete="off"
                        style="width: 100px;" [matDatepicker]="mdp2" [(ngModel)]="fechaFinRecalculo"
                        (click)="mdp2.open()">
                    <mat-datepicker #mdp2></mat-datepicker>
                    <span style="color: red;font-size: 11px;" *ngIf="errorFechaFinRecalculo">
                        {{errorFechaFinRecalculo}}</span>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                            style="color: #343a40 !important;" (click)="mdp2.open()" type="button"></button>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm"
            (click)="confirmRecalculo(modal)">Confirmar</button>
    </div>
</ng-template>
<ng-template #modalFormulaEditor let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editor de fórmulas</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div style="height: 500px">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<label>Estaciones variables y constantes</label>-->
                            <div>
                                <input type="text" placeholder="Escriba para buscar estaciones.."
                                    (keyup.enter)="searchTree()" [(ngModel)]="txtSearchTree" class="form-control"
                                    style="width: 87%; display: inline-block;">
                                <a href='' (click)='$event.preventDefault();searchTree()'><i
                                        class="fa fa-search btn-assistant"
                                        style="width: 7%;text-align: center;margin-left: 4px;"></i></a>
                                <span style="color: red;font-size: 11px;"><b>NOTA:</b> Sólo se mostraran máximo 1000
                                    resultados </span>
                            </div>
                            <div class="col-md-12 pl-0" [hidden]="!loadingTree">
                                <div class="tableSpinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>

                            <div style="height: 480px; overflow: scroll;" *ngIf="!loadingTree">
                                <tree-checklist [conf]="confTree" [data]="dataTree"
                                    (onChangeSelection)="onChangeSelection($event)">
                                </tree-checklist>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div style="width: 100%;">
                        <div class="row">
                            <div class="col-md-12">

                                <label>Seleccione operador</label>
                                <br>
                                <button mat-mini-fab color="primary" class="button_confirm btn-sm"
                                    (click)="addToFormula('(')">(</button>
                                <button mat-mini-fab color="primary" class="button_confirm"
                                    (click)="addToFormula(')')">)</button>
                                <button mat-mini-fab color="primary" type="button" class="button_confirm"
                                    (click)="addToFormula('+')">+</button>
                                <button mat-mini-fab color="primary" type="button" class="button_confirm"
                                    (click)="addToFormula('-')">-</button>

                                <button mat-mini-fab color="primary" class="button_confirm"
                                    (click)="addToFormula('*')">X</button>
                                <button mat-mini-fab color="primary" class="button_confirm"
                                    (click)="addToFormula('/')">/</button>
                                <button mat-mini-fab color="primary" class="button_confirm"
                                    (click)="addToFormula('^')">^</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>Fórmula</label>
                                <textarea rows="5" type="text" class="form-control" [(ngModel)]="formulaEdition" style="font-size: 12px;"></textarea>
                                <div style="font-size: 11px; color: red"><b>NOTA:</b> Los términos de la fórmula deben ir separados por espacios y el separador decimal debe ser el punto.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Interpretación</label>
                                <textarea rows="7" type="text" class="form-control" disabled=true
                                    [(ngModel)]="txtFormulaTranslation" style="font-size: 12px;"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Resultado de la validación</label>
                                <textarea rows="4" type="text" class="form-control" disabled=true rows="6"
                                    style="font-size: 12px;" [(ngModel)]="txtErroresFormula"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="button_confirm" (click)="clickValidateFormula()">Validar</button>
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm"
            (click)="confirmFormulaEdition(modal)">Confirmar</button>
    </div>
</ng-template>

<app-basic-filter *ngIf="filter" [filter]="filter" (onSearch)="onSearch($event)"></app-basic-filter>
<app-basic-table *ngIf="tablaConstantes" [table]="tablaConstantes" (onPagination)="onPagination($event)"
    (onSort)="onSort($event)" (afterExecuteCrudAction)="afterExecuteCrudAction($event)"
    (onExecuteTableRowUtilityAction)="especificarRecalculo($event);"
    (beforeExecuteCrudAction)="beforeExecuteCrudAction($event)"></app-basic-table>