<ng-template #modalSelectVariable let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Selector de variable</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div style="height: 500px">
            <app-sgi-variable-selector (onSelect)="onSelectVariable($event)"></app-sgi-variable-selector>
        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="button_confirm"
            (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button mat-stroked-button type="button" class="button_cancel"
            (click)="selectVariable(modal)">Confirmar</button>
    </div>

</ng-template>

<ng-template #modalEdicionUmbrales let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edición de Umbrales</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div style="height: 500px;padding-top: 0px;">
        <app-umbrales-compuestos-manager [data]="dataUmbralesModal" *ngIf="tipoUmbral=='N'"></app-umbrales-compuestos-manager>
        <app-valores-umbral-manager [data]="dataUmbralesModal"  *ngIf="tipoUmbral=='S'"></app-valores-umbral-manager>
        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="button_confirm"
            (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button mat-stroked-button type="button" class="button_cancel"
            (click)="saveUmbrales(modal)">Confirmar</button>
    </div>

</ng-template>

<app-basic-table *ngIf="tablaTiposConstantes" [table]="tablaTiposConstantes" (afterExecuteCrudAction)="afterExecuteCrudAction($event)" (onExecuteTableRowUtilityAction)="showUmbrales($event);"></app-basic-table>
