<div class="spinner" *ngIf="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div *ngIf="error" style="width: 100%;text-align: center;margin-top: 200px;">
    <div class="panel">
       <B>ATENCIÓN: </B>{{error}}
       <br>
       <a href='{{urlBack}}'>Pulse para cerrar sesión y continuar</a>
    <div>
</div>