<div class="container-page">
    <arca-common-navigationbar [root]=rootSection [sections]=sections (seleccionar)="selectOption($event)">
    </arca-common-navigationbar>
    <ng-container *ngIf="selectedOption=='conf_est'">
        <app-estaciones-manager></app-estaciones-manager>
    </ng-container>
    <ng-container *ngIf="selectedOption=='conf_comp'">
        <app-compresion-manager></app-compresion-manager>
    </ng-container>
    <ng-container *ngIf="selectedOption=='conf_val'">
        <app-validacion-manager></app-validacion-manager>
    </ng-container>
    <ng-container *ngIf="selectedOption=='conf_sum'">
        <app-sumarizacion-manager></app-sumarizacion-manager>
    </ng-container>
    <ng-container *ngIf="selectedOption=='conf_per'">
        <app-permanencia-manager></app-permanencia-manager>
    </ng-container>
</div>