<ng-template #modalSelectVariable let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Selector de variable</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div style="height: 500px">
            <app-sgi-variable-selector (onSelect)="onSelectVariable($event)"></app-sgi-variable-selector>
        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cancelar</button>
            <button mat-stroked-button type="button" class="btn_modal_confirm" style="background-color: #d7c4c4;"
            (click)="selectVariableTodas(modal)">Aplica a todas</button>            
        <button mat-stroked-button type="button" class="btn_modal_confirm"
            (click)="selectVariable(modal)">Seleccionar</button>
    </div>

</ng-template>

<ng-template #modalEdicion let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" >Alta/Edición de Gestión de la validación </h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body" style="padding: 0px 10px 0px 10px;font-size:12px">
        <div style="margin-bottom: 15px;">

        </div>
    </div>

    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"  (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="onSave(modal)">Confirmar</button>
    </div>    
</ng-template>

<app-basic-filter *ngIf="filter" [filter]="filter" (onSearch)="onSearch($event)"></app-basic-filter>
<app-basic-table  *ngIf="tablaConstantes"
 [table]="tablaConstantes" 
 (onPagination)="onPagination($event)" 
 (onSort)="onSort($event)"
 (beforeExecuteCrudAction)="beforeExecuteCrudAction($event)"
 (afterExecuteCrudAction)="afterExecuteCrudAction($event)"
   ></app-basic-table>
  