<!--
<arca-common-header [profile]=profile [title]=title [version]=version [description]=description  (logoutClick)="logout($event)">
</arca-common-header>   
-->
<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <div class="navbar navbar-expand-lg fixed-top" style="background-color:rgba(0, 56, 82, 1) !important">
        <div class="col-md-6 p-0 d-flex flex-row align-items-center">
            <img class="pl-1" src="assets/images/logo_min.png" style="height: 40px;">
            <div class="appTitle pl-2">{{title}} <small *ngIf="version">v{{version}}</small></div>
        </div>
        <div style="width: 50%;float: right;">
            <div class="align-items-center text-right">
                <table style="float: right;">
                    <tr>
                        <td>
                            <div class="appSubtitle pr-2" [innerHTML]=description></div>
                        </td> 
                        <td>
                            <img src="assets/images/logo_SIRA.svg" class="logo-right" *ngIf="!profile" style="background-color: white;border-radius: 2px;padding: 5px;">
                            <div class="appUser pr-2" *ngIf="profile">
                                <div ngbDropdown>
                                    <div ngbDropdownToggle id="dropdownBasic1" style="height: 48px;vertical-align: middle;">
                                        <img src="assets/images/logo_SIRA.svg" class="logo-right" style="background-color: white;border-radius: 2px;padding: 5px;">
                                    </div>
                                    <ul class="pb-0" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <li class="media">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1">{{profile.nombre}}</h5>
                                            </div>
                                        </li>
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
                                            <i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Salir
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="d-block d-sm-none ">
    <div class="navbar navbar-expand-lg fixed-top" style="background-color: rgba(0,0,0,.9)">
        <div class=" p-0 d-flex flex-row align-items-center">
            <img class="pl-1" src="assets/images/logo_min.png" style="height: 40px;">
        </div>
        <div style="float: right;">
            <div class="align-items-center text-right">
                <img src="assets/images/logo_chg.jpg" class="logo-right" *ngIf="!profile">
                <div class="appUser pr-2" *ngIf="profile">
                    <div ngbDropdown>
                        <div ngbDropdownToggle id="dropdownBasic1" style="height: 48px;vertical-align: middle;">
                            <img src="assets/images/logo_chg.jpg" class="logo-right">
                        </div>
                        <ul class="pb-0" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <li class="media">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">{{profile.name}}</h5>
                                </div>
                            </li>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
                                <i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Salir
                            </a>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>