<div class="container-page">
    <arca-common-navigationbar [root]=rootSection [sections]=sections (seleccionar)="selectOption($event)">
    </arca-common-navigationbar>
    <ng-container *ngIf="selectedOption=='informes'">
        <app-informes-manager></app-informes-manager>
    </ng-container>
    
 </div>
