<div class="container-page">
    <arca-common-navigationbar [root]=rootSection [sections]=sections (seleccionar)="selectOption($event)">
    </arca-common-navigationbar>
    <ng-container *ngIf="selectedOption=='mr_mol'">
        <app-modelos-manager></app-modelos-manager>
    </ng-container>
    <ng-container *ngIf="selectedOption=='mr_sis'">
        <app-sistemas-manager></app-sistemas-manager>  
    </ng-container>

    <ng-container *ngIf="selectedOption=='mr_sis_esc'">
        <app-sistemas-escenarios-manager></app-sistemas-escenarios-manager>  
    </ng-container>
    <ng-container *ngIf="selectedOption=='mr_uo'">
        <app-umbrales_provisionales-manager [umbralOficial]="true"></app-umbrales_provisionales-manager>
    </ng-container>        
    <ng-container *ngIf="selectedOption=='mr_up'">
        <app-umbrales_provisionales-manager [umbralOficial]="false"></app-umbrales_provisionales-manager>
    </ng-container>      
 </div>
