<ng-template #modalDuplicar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Copiar Nivel de acceso <b>{{rowSelected.nombre}}</b>.</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="closeModal()"><span
                aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body" style="padding: 0px 10px 0px 10px;height: 100px;">
        <div style="margin-bottom: 15px;">
            Se duplicará el nivel de acceso seleccionado <b>{{rowSelected.nombre}}</b> y toda su configuración de seguridad. ¿Desea continuar?
        </div>
    </div>

    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"  (click)="closeModal()">Cerrar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="onDuplicate(rowSelected.cod_nivel_acceso)">Aceptar</button>
    </div>
</ng-template>


<ng-template #modalPermisos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Gestión de permisos para el nivel {{rowSelected.nombre}}</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="closeModal()"><span
                aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body" style="padding: 0px 10px 0px 10px;height: 400px;">
        <div style="margin-bottom: 15px;">
            <mat-tab-group>
                <mat-tab label="Elementos del visor">
                    <div style="padding: 5px; font-size: 13px;" *ngIf="!permisosElementos">
                        Cargando, espere por favor...
                    </div>
                    <div style="height: 360px;" *ngIf="permisosElementos">
                        <app-station-manager [items]="permisosElementos" [config]=configModalAsignacionPermisos></app-station-manager>
                    </div>                
                </mat-tab>
                <mat-tab label="Cámaras">
                    <div style="padding: 5px; font-size: 13px;" *ngIf="!permisosElementos">
                        Cargando, espere por favor...
                    </div>
                    <div style="height: 360px;" *ngIf="permisosVideos">
                        <app-station-manager [items]="permisosVideos" [config]=configModalAsignacionVideos></app-station-manager>
                    </div>                
                </mat-tab>     
                
                <mat-tab label="Informes">
                    <div style="padding: 5px; font-size: 13px;" *ngIf="!permisosElementos">
                        Cargando, espere por favor...
                    </div>
                    <div style="height: 360px;" *ngIf="permisosInformes">
                        <app-station-manager [items]="permisosInformes" [config]=configModalAsignacionInformes></app-station-manager>
                    </div>                
                </mat-tab>                 

                <ng-container *ngIf="estacionesLoaded" >  
                    <ng-container *ngFor="let item of tiposEstaciones" >  
                        <mat-tab label="{{item.name +  ' (' + item.cod + ')'}} " >
                            <div style="height: 360px;">
                                <app-station-manager [items]="item.selected" [config]=configModalAsignacion></app-station-manager>
                            </div>
                        </mat-tab>                    
                    </ng-container>
                </ng-container>
            </mat-tab-group>
        </div>
    </div>

    <div class="modal-footer">
        <div class="panel_success" style="width: 100%;margin-top: 0px;" *ngIf="msgSaving">{{msgSaving}}</div>        
        <button mat-stroked-button type="button" class="btn_modal_cancel"  (click)="closeModal()">Cerrar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="onSavePermisos()">Guardar</button>
    </div>
</ng-template>

<app-basic-table *ngIf="tablaTiposConstantes" [table]="tablaTiposConstantes"
    (afterExecuteCrudAction)="afterExecuteCrudAction($event)"
    (onExecuteTableRowUtilityAction)="onExecuteTableRowUtilityAction($event);">
</app-basic-table>