.label-info{
    border: 1px solid white;
    font-weight: 400;
    padding-top: 2px;
    background-color: #dee2e6;
}
.text-info{
    border: 1px solid #dee2e6;    
    color: black !important;
    padding-top: 4px;
}
.table-umbrales{
    border: 1px solid #dee2e6;    
    width: 100%;
}

.table-umbrales th{
    padding: 3px;
    border: 1px solid white;  
    position: sticky;
    text-align: center;
    top: 0;
    background-color: #dee2e6;     
}
.table-umbrales td{
    border: 1px solid #dee2e6;  
    
}