<div style="padding: 0px 10px 10px 10px;font-size: 12px;">
    <div class="row">
        <div class="col-md-12 label-info" style="background-color: #ffc107;padding: 5px">
            <b>Resumen</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 label-info">
            Modelo
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.desc_decreto}}
        </div>
        <div class="col-md-2 label-info">
            Sistema
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.desc_sistema}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 label-info">
            Escenario
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.desc_escenario}}
        </div>
        <div class="col-md-2 label-info">
            Variable
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.cod_variable}} / {{data.conf.desc_variable}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 label-info">
            Indicador de la variable
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.desc_indicador_variable}}
        </div>
        <div class="col-md-2 label-info">
            Tipo de Umbral
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.desc_indicador_umbral}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 label-info">
            Variación temporal
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.desc_nivel_temp}}
        </div>
        <div class="col-md-2 label-info">
            {{data.conf.desc_nivel_temp}}
        </div>
        <div class="col-md-4 text-info" style="display: flex;">
            <ng-container *ngIf="data.conf.cod_nivel_temp=='AH' || data.conf.cod_nivel_temp=='TH' ">
                <select class="form-control" name="anio" [(ngModel)]="selectedAnioH"> 
                    <option value="">-- Año -- </option>
                    <option *ngFor="let m of listAnios" [value]="m">{{m}}</option>
                </select>
            </ng-container>
            <ng-container *ngIf="data.conf.cod_nivel_temp=='TH'">
                <select class="form-control" name="trimestre" [(ngModel)]="selectedTrimestreH" style="margin-left:10px"> 
                    <option value="">-- Trimestre -- </option>
                    <option *ngFor="let m of listTrimestres" [value]="m">{{m}}</option>
                </select>
            </ng-container>            
            <ng-container *ngIf="data.conf.cod_nivel_temp=='TH'">

            </ng-container>
            <ng-container *ngIf="data.conf.cod_nivel_temp=='SH'">

            </ng-container>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 label-info" style="background-color: #ffc107;padding: 5px">
            <b>Variables de referencia</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 label-info">
            Variable ref 1
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.cod_var_ref1}}
        </div>
        <div class="col-md-2 label-info">
            Cálculo temporal
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.desc_nivel_temp1}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 label-info">
            Variable ref 2
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.cod_var_ref2}}
        </div>
        <div class="col-md-2 label-info">
            Cálculo temporal
        </div>
        <div class="col-md-4 text-info">
            {{data.conf.desc_nivel_temp2}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 label-info" style="background-color: #ffc107;padding: 5px;">
            <b>Umbrales - {{getTextPeriodoSelecionado()}}</b>
            <span style="float: right; color: green;font-weight: bold;" (click)="addUmbral()">[Añadir umbral]</span>
        </div>
    </div>

    <div class="row" style="height:230px; overflow:auto;font-size: 12px;">
        <table class="table-umbrales">
            <thead>
                <th>Var. referencia 1 (mínimo) </th>
                <th>Var. referencia 1 (máximo)</th>
                <th>Var. referencia 2 (mínimo)</th>
                <th>Var. referencia 2 (máximo)</th>
                <th>Umbral</th>
                <th>Observaciones</th>
                <th style="text-align: center;width: 30px;"></th>
            </thead>            

            <ng-container *ngIf="filterUmbrales().length == 0">
                    <tr>
                        <td colspan="7" style="padding: 10px;color: red;">
                            No hay umbrales definidos para el periodo seleccionado: <b>{{getTextPeriodoSelecionado()}}</b>
                        </td>
                    </tr>
            </ng-container>
        
            <ng-container *ngFor="let umbral of filterUmbrales()">
                <tr>
                    <td>
                        <input type="number" class="form-control" name="valor_var1_min"
                            [(ngModel)]="umbral.valor_var1_min" class="form-control">
                    </td>
                    <td>
                        <input type="number" class="form-control" name="valor_var1_max"
                            [(ngModel)]="umbral.valor_var1_max" class="form-control">
                    </td>
                    <td>
                        <input type="number" class="form-control" name="valor_var2_min"
                            [(ngModel)]="umbral.valor_var2_min" class="form-control">
                    </td>
                    <td>
                        <input type="number" class="form-control" name="valor_var2_max"
                            [(ngModel)]="umbral.valor_var2_max" class="form-control">
                    </td>
                    <td>
                        <input type="number" class="form-control" name="umbral"
                            [(ngModel)]="umbral.valor" class="form-control">

                    </td>
                    <td>
                        <input type="text" class="form-control" name="observaciones"
                            [(ngModel)]="umbral.observaciones" class="form-control">

                    </td>
                    <td style="text-align: center;">
                        <em class="fa fa-times" style="color: red;" (click)="deleteUmbral(umbral);"></em>
                    </td>
                </tr>
                
            </ng-container>
        
        </table>
    </div>

</div>