.example-container {
    width: 100%;
    min-height: 600px;;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    padding: 10px;
    height: 100%;    
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    text-align: center;
  }
  .container-measures{
    min-height : 500px;
  }
  .container-tab-custom {
    min-height: 200px;
    width: 98%;
}
::ng-deep .cdk-overlay-container {
  position: fixed !important;
  z-index: 100000 !important; /* set value you need */
}
.maxive-detail-table {
  min-width: 100%;
  margin-top: 5px;
  font-size: 12px !important;
  margin-bottom: 5px;
  border : 1px solid #ddc2c2;
}
.maxive-header {
  height: 30px;
  text-align: left;
  color: black;
  background-color: #ebebeb;
}

.maxive-header-td {
  padding: 5px;
}
.maxive-cell {
  background-color: white;
  padding-left: 10px;
  height: 30px;
  border : 1px solid #dee2e6;
  text-align: left;
}
.table-valores{
  width: 100%;
  font-size: 12px;
  text-align: center;
  border: 1px solid #dee2e6;

}
.table-valores th{
  padding: 3px;
  border: 1px solid white;  
  position: sticky;
  text-align: center;
  top: 0;
  background-color: #dee2e6;     
}
.table-valores td{
  border: 1px solid #dee2e6;  
}
.chartjs-size-monitor{
  overflow: important inherit;
}

  .label-recalc{
    text-align: left;
    font-weight: 500;
    background-color: rgb(219, 219, 219);;
    border: 1px solid #f8f9fa;
  }
  .value-recalc{
    text-align: left;
    background-color: rgb(219, 219, 219);;
    border: 1px solid #f8f9fa;
    display: flex;
  }
  .toolSelected{
    color: green;
  }
  .toolUnSelected{
    color:#7c7c7c;
  }

  .mat-button-toggle-checked{
    background-color:#00bcd4 !important;
}

.my-fab {
     width: 20px;
     height: 20px;
     line-height: 14px;
     font-size: 14px;

     &::ng-deep .mat-button-wrapper{
         line-height: 14px;
         padding: 0;

          .mat-icon {
              font-size: 14px;
              padding-right: 4px;
              padding-top: 4px;
          }
    }
}

.mat-tab-body-content { overflow: hidden!important}


.header-update{
  background-color:rgba(0, 56, 82, 1) !important;
  border: 1px solid rgb(176, 176, 177);
  & h4{
    color:white; 
    text-align: center; 
    font-size:20px !important;
  }
}
.header-update-warning{
  background-color:rgb(230, 118, 21) !important;
  border: 1px solid rgb(176, 176, 177);
  & h4{
    color:white; 
    text-align: center; 
    font-size:20px !important;
  }
}
.panel_validacion {
  background-color: #ffc107;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}

.table-gaps{
  width: 100%;
  text-align: center;
  border: 1px solid #dee2e6;

}
.table-gaps th{
  padding: 3px;
  border: 1px solid white;  
  position: sticky;
  text-align: center;
  top: 0;
  background-color: #dee2e6;     
}
.table-gaps td{
  border: 1px solid #dee2e6;  
}