<ng-template #modalAdvertencia let-modal>
    <div class="modal-header header-update-warning">
        <h4 class="modal-title col-md-11" id="modal-basic-title" style="color:white">Atención!
        </h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body" style="padding: 10px 10px 0px 10px;font-size:12px">
        <div class="panel" style="padding:0px 20px 0px 20px">
            <div class="row">
                <div class="col-md-12 pl-0">
                    <div [innerHTML]="msgAdvertencia"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" style=" display: block;">
        <button mat-stroked-button type="button" class="btn_modal_cancel" style="margin-right: 10px;float: right;"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
</ng-template>
<ng-template #modalHelp let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title col-md-11" id="modal-basic-title">Ayuda
        </h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body" style="padding: 10px 10px 0px 10px;font-size:12px">
        <div class="panel" style="padding:0px 20px 0px 20px">
            <div class="row">
                <div class="col-md-12 pl-0">
                    <b>Código de colores</b>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <mat-icon style="background-color:green">square</mat-icon>
                </div>
                <div class="col-md-10">
                    Válido - automático
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-2">
                    <mat-icon style="background-color:black">square</mat-icon>
                </div>
                <div class="col-md-10">
                    Válido - manual
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-2">
                    <mat-icon style="background-color:red">square</mat-icon>
                </div>
                <div class="col-md-10">
                    Inválido
                </div>
            </div>
            <div class="row" style="margin-top: 5px;margin-bottom: 5px;">
                <div class="col-md-2">
                    <mat-icon style="background-color:orange">square</mat-icon>
                </div>
                <div class="col-md-10">
                    Editado y pendiente de guardar
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" style=" display: block;">
        <button mat-stroked-button type="button" class="btn_modal_cancel" style="margin-right: 10px;float: right;"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
</ng-template>
<ng-template #modalOtrasAcciones let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title col-md-11" id="modal-basic-title">Otras acciones
        </h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" style="padding: 10px 10px 0px 10px;font-size:12px">
        <div class="panel" style="padding:0px 20px 0px 20px">
            <div class="row">
                <div class="col-md-12 pl-0">
                    Pulse sobre el botón de la acción que desea realizar:
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12 pl-0">
                    <button mat-stroked-button type="button" style="width:100%"
                        (click)="modal.dismiss('Cross click');openForzarSumarizacion()"><em class="fa fa-cogs"
                            style="margin-right: 10px;color: green;"></em>Marcar
                        sumarización</button>
                </div>
                <div class="col-md-12 pl-0">
                    <button mat-stroked-button type="button" style="width:100%"
                        (click)="modal.dismiss('Cross click');openCompletarHuecos()"><em class="fa fa-clock-o"
                            style="margin-right: 10px;color: green;"></em>Completar
                        huecos</button>
                </div>
                <div class="col-md-12 pl-0">
                    <button mat-stroked-button type="button" (click)="modal.dismiss('Cross click');openExportar()"
                        style="width:100%"><em class="fa fa-download"
                            style="margin-right: 10px;color: green;"></em>Generar
                        plantilla</button>
                </div>
                <div class="col-md-12 pl-0" style="margin-bottom: 10px;">
                    <button mat-stroked-button type="button" (click)="modal.dismiss('Cross click');openImportar()"
                        style="width:100%"><em class="fa fa-upload"
                            style="margin-right: 10px;color: green;"></em>Importar
                        plantilla</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style=" display: block;">
        <button mat-stroked-button type="button" class="btn_modal_cancel" style="margin-right: 10px;float: right;"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
</ng-template>
<ng-template #modalFillGaps let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title col-md-11" id="modal-basic-title" *ngIf="modeFillGaps==1">Relleno de huecos por selección
        </h4>
        <h4 class="modal-title col-md-11" id="modal-basic-title" *ngIf="modeFillGaps==2">Relleno de huecos de toda la
            serie</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" style="padding: 10px 10px 0px 10px;font-size:12px">
        <div style="margin-bottom: 15px;">
            <div class="panel" style="padding:0px 20px 0px 20px">
                <div class="row">
                    
                    <div class="col-md-4 ">
                        <b>Método de rellenado elegido:</b><br>
                        <select class="form-control" name="metodoInterpolacion" [(ngModel)]="metodoInterpolacion">
                            <option value="1">Método Forward fill</option>
                            <option value="2">Método Back fill</option>
                            <option value="3">Inteporlación lineal </option>
                            <option value="4">PCHIP </option>
                            <option value="5">CUBIC SPLINE</option>
                            <option value="6">Inteporlación polinómica orden 2</option>
                            <option value="7">Inteporlación polinómica orden 3</option>
                            <!--
                            <option value="8">Polinómica orden 4</option>
                            -->
                        </select>
                    </div>
                    <div class="col-md-4 ">
                        <b>Frecuencia de datos:</b><br>
                        <select class="form-control" name="frecuenciaGAP" [(ngModel)]="frecuenciaGAP" disabled
                            (change)="calculateDataGaps()">
                            <option value="5">5 minutal</option>
                            <option value="10">10 minutal</option>
                            <option value="15">15 minutal</option>
                            <option value="30">30 minutal</option>
                            <option value="60">Horaria</option>
                            <option value="1440">Diaria</option>
                        </select>
                    </div>
                    <div class="col-md-4 ">
                        <b>Datos a rellenar:</b><br>
                        <select class="form-control" name="tipoDatosGaps" [(ngModel)]="tipoDatosGaps"
                            (change)="calculateDataGaps()">
                            <option value="1">Sólo huecos</option>
                            <option value="2">Huecos y datos inválidos</option>
                            <option value="3">Sólo datos inválidos</option>
                        </select>
                    </div>
                    <div class="col-md-3 ">

                    </div>
                </div>
         
                <div class="row" style="margin-top: 10px;" *ngIf="!calculatingDataGaps">
                    <div class="col-md-12 ">
                        <ng-container *ngIf="areasToFill.length==0">
                            No hay áreas seleccionadas
                        </ng-container>
                        <ng-container *ngIf="areasToFill.length>0">
                            <ng-container *ngIf="modeFillGaps==1"> Se han marcado <b>{{areasToFill.length}}</b> zonas de
                                la serie a completar:</ng-container>
                            <ng-container *ngIf="modeFillGaps==2"> La configuración se aplicará a toda la serie de
                                datos:</ng-container>
                            <br><br>
                            <table class="table-gaps">
                                <thead>
                                    <th style="width: 10%; background-color: #dee2e6">#area</th>
                                    <th style="width: 15%; background-color: #dee2e6">Fecha inicio</th>
                                    <th style="width: 15%;  background-color: #dee2e6">Fecha fin</th>
                                    <th style="width: 15%;  background-color: #dee2e6">Teóricos</th>
                                    <th style="width: 15%;  background-color: #dee2e6">Huecos</th>
                                    <th style="width: 15%;  background-color: #dee2e6">Inválidos</th>
                                    <th style="width: 10%;  background-color: #dee2e6">A procesar</th>
                                    <th style="width: 10%;  background-color: #dee2e6"></th>
                                </thead>
                                <tr *ngFor="let area of areasToFill; let i = index">
                                    <td>{{i}}</td>
                                    <td>{{area.start}}</td>
                                    <td>{{area.end}}</td>
                                    <td>{{area.data.length}}</td>
                                    <td>{{area.totalHuecos}}</td>
                                    <td>{{area.totalInvalidos}}</td>
                                    <td *ngIf="tipoDatosGaps==1">{{area.totalHuecos}}</td>
                                    <td *ngIf="tipoDatosGaps==2">{{area.totalInvalidos + area.totalHuecos}}</td>
                                    <td *ngIf="tipoDatosGaps==3">{{area.totalInvalidos}}</td>
                                    <td> <em *ngIf="area.contiene5minutales"
                                            matTooltip="La serie es de frecuencia irregular."
                                            class="fa fa-info-circle" style="color: orange;"></em> </td>
                                    <br>
                                </tr>
                            </table>
                        </ng-container>
                    </div>
                </div>                
                <div class="row" style="margin-top: 10px;" *ngIf="calculatingDataGaps">
                    <div class="col-md-12 ">
                        <b>Calculando huecos, espere por favor...</b>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="modal-footer" style=" display: block;">
        <div class="row">
            <div class="col-md-12 ">
                <div class="panel_warning" style='width:100%;height:40px;margin-top:0px;font-size: 12px;'
                    *ngIf='msgErrorGaps'>
                    {{msgErrorGaps}}</div>
                <div class="panel_success"
                    style='width:100%;min-height:40px;height:auto;margin-top:0px;font-size: 12px;' *ngIf='msgOKGaps'>
                    {{msgOKGaps}}</div>
            </div>
            <div class="col-md-12 ">
                <div class="panel" style='width:80%;height:40px;margin-top:0px' *ngIf='fillingGaps'>
                    <div class="col-md-12 pl-0">
                        <div class="tableSpinner" style="position: inherit !important;float:rigth;">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display:block; float: right;margin-top: 10px;">
            <div class="col-md-12 ">
                <button mat-stroked-button type="button" class="btn_modal_cancel" style="margin-right: 10px;"
                    (click)="modal.dismiss('Cross click')">Cerrar</button>
                <button mat-stroked-button type="button" class="btn_modal_confirm" [disabled]="areasToFill.length==0"
                    (click)="confirmFillGaps()">Aceptar</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #modalForzarSumarizacion let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title col-md-11" id="modal-basic-title">Marcar sumarización manualmente</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" style="padding: 10px 10px 0px 10px;font-size:12px">
        <div style="margin-bottom: 15px;">
            <div class="panel" style="padding:0px 20px 0px 20px">
                <div class="row">
                    <div class="col-md-4 ">
                        Fecha Desde *<br>
                        <div style="display: inline-flex;">
                            <input class="form-control" placeholder="dd/mm/yyyy" name="fechaIniExport"
                                autocomplete="off" style="width: 100px;" [matDatepicker]="mdp"
                                [(ngModel)]="fechaIniExport" (click)="mdp.open()">
                            <mat-datepicker #mdp></mat-datepicker>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                                    style="color: #343a40 !important;" (click)="mdp.open()" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        Fecha hasta *<br>
                        <div style="display: inline-flex;">
                            <input class="form-control" placeholder="dd/mm/yyyy" name="fechaFinExport"
                                autocomplete="off" style="width: 100px;" [matDatepicker]="mdp1"
                                [(ngModel)]="fechaFinExport" (click)="mdp1.open()">
                            <mat-datepicker #mdp1></mat-datepicker>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                                    style="color: #343a40 !important;" (click)="mdp1.open()" type="button"></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                        Código de variable *<br>
                        <input class="form-control" placeholder="Variable" type="text" name="codVariableHuecos"
                            autocomplete="off" [(ngModel)]="codVariableHuecos">
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <div class="panel_warning" style='width:90%;height:40px;margin-top:0px;font-size: 12px;' *ngIf='msgErrorHoles'>
            {{msgErrorHoles}}</div>
        <div class="panel_success" style='width:90%;min-height:40px;height:auto;margin-top:0px;font-size: 12px;'
            *ngIf='msgOKHoles'>
            {{msgOKHoles}}</div>
        <div class="panel" style='width:80%;height:40px;margin-top:0px' *ngIf='fillingHoles'>
            <div class="col-md-12 pl-0">
                <div class="tableSpinner" style="position: inherit !important;float:rigth;">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm"
            (click)="forzarSumarizacion()">Aceptar</button>
    </div>
</ng-template>
<ng-template #modalCompletarHuecos let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title col-md-11" id="modal-basic-title">Completar huecos</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" style="padding: 10px 10px 0px 10px;font-size:12px">
        <div style="margin-bottom: 15px;">
            <div class="panel" style="padding:0px 20px 0px 20px">
                <div class="row">
                    <div class="col-md-2 ">
                        Fecha Desde *<br>
                        <div style="display: inline-flex;">
                            <input class="form-control" placeholder="dd/mm/yyyy" name="fechaIniExport"
                                autocomplete="off" style="width: 100px;" [matDatepicker]="mdp"
                                [(ngModel)]="fechaIniExport" (click)="mdp.open()">
                            <mat-datepicker #mdp></mat-datepicker>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                                    style="color: #343a40 !important;" (click)="mdp.open()" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        Hora desde *<br>
                        <!--
                        <input class="form-control" placeholder="Valor" type="time" name="horaIniExport"
                            autocomplete="off" [(ngModel)]="horaIniExport">-->
                        <select class="form-control" name="horaIniExport" [(ngModel)]="horaIniExport">
                            <ng-container *ngFor="let hora of horas">
                                <option value="{{hora}}">{{hora}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="col-md-2 "></div>
                    <div class="col-md-2 ">
                        Fecha hasta *<br>
                        <div style="display: inline-flex;">
                            <input class="form-control" placeholder="dd/mm/yyyy" name="fechaFinExport"
                                autocomplete="off" style="width: 100px;" [matDatepicker]="mdp1"
                                [(ngModel)]="fechaFinExport" (click)="mdp1.open()">
                            <mat-datepicker #mdp1></mat-datepicker>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                                    style="color: #343a40 !important;" (click)="mdp1.open()" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        Hora hasta *<br>
                        <!--
                        <input class="form-control" placeholder="Valor" type="time" name="horaFinExport"
                            autocomplete="off" [(ngModel)]="horaFinExport">
                        -->
                        <select class="form-control" name="horaIniExport" [(ngModel)]="horaFinExport">
                            <ng-container *ngFor="let hora of horas">
                                <option value="{{hora}}">{{hora}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="col-md-2 "></div>
                </div>
                <div class="row" style="margin-top: 15PX;">
                    <div class="col-md-6 ">
                        Frecuencia *<br>
                        <select class="form-control" name="frecuenciaExport" [(ngModel)]="frecuenciaExport">
                            <option value="10">10 minutal</option>
                            <option value="15">15 minutal</option>
                            <option value="60">Horaria</option>
                        </select>
                    </div>
                    <div class="col-md-6 ">
                        Código de variable *<br>
                        <input class="form-control" placeholder="Variable" type="text" name="codVariableHuecos"
                            autocomplete="off" [(ngModel)]="codVariableHuecos">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <div class="panel_warning" style='width:90%;height:40px;margin-top:0px;font-size: 12px;' *ngIf='msgErrorHoles'>
            {{msgErrorHoles}}</div>
        <div class="panel_success" style='width:90%;min-height:40px;height:auto;margin-top:0px;font-size: 12px;'
            *ngIf='msgOKHoles'>
            {{msgOKHoles}}</div>
        <div class="panel" style='width:80%;height:40px;margin-top:0px' *ngIf='fillingHoles'>
            <div class="col-md-12 pl-0">
                <div class="tableSpinner" style="position: inherit !important;float:rigth;">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="rellenarHuecos()">Aceptar</button>
    </div>
</ng-template>
<ng-template #modalExportData let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title col-md-11" id="modal-basic-title">Exportar plantilla para importación de datos</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" style="padding: 10px 10px 0px 10px;font-size:12px">
        <div style="margin-bottom: 15px;">
            <div class="panel" style="padding:0px 20px 0px 20px">
                <div class="row">
                    <div class="col-md-2 ">
                        Fecha Desde *<br>
                        <div style="display: inline-flex;">
                            <input class="form-control" placeholder="dd/mm/yyyy" name="fechaIniExport"
                                autocomplete="off" style="width: 100px;" [matDatepicker]="mdp"
                                [(ngModel)]="fechaIniExport" (click)="mdp.open()">
                            <mat-datepicker #mdp></mat-datepicker>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                                    style="color: #343a40 !important;" (click)="mdp.open()" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        Hora desde *<br>
                        <input class="form-control" placeholder="Valor" type="time" name="horaIniExport"
                            autocomplete="off" [(ngModel)]="horaIniExport">
                    </div>
                    <div class="col-md-2 "></div>
                    <div class="col-md-2 ">
                        Fecha hasta *<br>
                        <div style="display: inline-flex;">
                            <input class="form-control" placeholder="dd/mm/yyyy" name="fechaFinExport"
                                autocomplete="off" style="width: 100px;" [matDatepicker]="mdp1"
                                [(ngModel)]="fechaFinExport" (click)="mdp1.open()">
                            <mat-datepicker #mdp1></mat-datepicker>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                                    style="color: #343a40 !important;" (click)="mdp1.open()" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        Hora hasta *<br>
                        <input class="form-control" placeholder="Valor" type="time" name="horaFinExport"
                            autocomplete="off" [(ngModel)]="horaFinExport">
                    </div>
                    <div class="col-md-2 "></div>
                </div>
                <div class="row" style="margin-top: 15PX;">
                    <div class="col-md-6 ">
                        Frecuencia *<br>
                        <select class="form-control" name="frecuenciaExport" [(ngModel)]="frecuenciaExport">
                            <option value="10">10 minutal</option>
                            <option value="15">15 minutal</option>
                            <option value="60">Horaria</option>
                        </select>
                    </div>
                    <div class="col-md-6 ">
                        Separador*<br>
                        <select class="form-control" name="separadorExport" [(ngModel)]="separadorExport">
                            <option value="P">Punto y coma</option>
                            <option value="T">Tabulador</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 15PX;">
                    <div class="col-md-12 ">
                        <b>Variables a incluir en la plantilla <i>(mínimo una)</i></b>
                    </div>
                </div>
                <div class="row" style="margin-top: 15PX;">
                    <div class="col-md-4 ">
                        Cod.Variable<br>
                        <input type="text" class="form-control" name="codVariableExport" [(ngModel)]="codVariableExport"
                            class="form-control">
                    </div>
                    <div class="col-md-4 ">
                        Valor por defecto<br>
                        <input type="number" class="form-control" name="constantValueExport"
                            [(ngModel)]="constantValueExport" class="form-control">
                    </div>
                    <div class="col-md-4 ">
                        <button mat-stroked-button type="button" class="btn"
                            style="margin-top: 10px;font-size: 12px;background-color: #dee2e6;"
                            (click)="anadirVariablePlantilla()">Añadir variable a la plantilla</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 15PX;">
                    <div class="col-md-12 ">
                        <table style="width: 100%;border: 1px solid gray;" class="table">
                            <thead>
                                <th style="width: 50%; background-color: #dee2e6">Código de variable</th>
                                <th style="width: 45%; background-color: #dee2e6">Valor por defecto</th>
                                <th style="width: 5%;  background-color: #dee2e6"></th>
                            </thead>
                            <ng-container *ngIf="variablesExport.length==0">
                                <tr>
                                    <td colspan="3" style="color: red;">
                                        No se han elegido variables para la plantilla.
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngFor="let variable of variablesExport; let i = index">
                                <tr>
                                    <td>
                                        {{variable.codigo}}
                                    </td>
                                    <td>
                                        {{variable.valor}}
                                    </td>
                                    <td style="text-align: center;">
                                        <a href='javascript:void()' (click)="eliminarVariablePlantilla(i)"><em
                                                class="fa fa-times" style="color: red;"></em></a>
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <div class="panel_warning" style='width:90%;height:40px;margin-top:0px;font-size: 12px;' *ngIf='msgErrorExport'>
            {{msgErrorExport}}</div>
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="generarPlantilla()">Aceptar</button>
    </div>
</ng-template>

<ng-template #modalImportData let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title col-md-11" id="modal-basic-title">Importar datos desde plantilla</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div style="font-size: 12px;">
            <div class="row">
                <div class="col-md-12 ">
                    <b>Seleccione fichero CSV:</b>
                </div>
            </div>
            <div class="row" style="margin-top: 10PX;">
                <div class="col-12">
                    <input type="file" id="file" (change)="handleFileInput($event.target.files)"
                        style="float: left;width: 100%;">
                </div>
            </div>
            <div class="row" style="margin-top: 10PX;">
                <div class="col-md-12 ">
                    <b>Opciones de importación</b>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-4 ">
                    Estrategia<br>
                    <select class="form-control" name="estrategiaImport" [(ngModel)]="estrategiaImport">
                        <option value="SC">Sobreescribir y crear nuevos registros</option>
                        <option value="V">Sólo crear nuevos registros omitiendo sobreescrituras.</option>
                    </select>
                </div>
                <div class="col-md-4 ">
                    Separador<br>
                    <select class="form-control" name="separadorImport" [(ngModel)]="separadorImport">
                        <option value="P">Punto y coma</option>
                        <option value="T">Tabulador</option>
                    </select>
                </div>
                <div class="col-md-4 ">
                    Activar validaciones previas<br>
                    <select class="form-control" name="separadorImport" [(ngModel)]="validacionImport"
                        (change)="onChangeActivarValidacionImport($event)">
                        <option value="S">Sí</option>
                        <option value="N">No</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div [innerHTML]="msgErrorImport" class="panel_warning"
            style='width:90%;min-height:40px;height:auto;margin-top:0px;font-size: 12px;overflow-y: scroll;max-height: 150px;'
            *ngIf='msgErrorImport'>
        </div>
        <div class="panel_success" style='width:90%;min-height:40px;height:auto;margin-top:0px;font-size: 12px;'
            *ngIf='msgFileOK'>
            {{msgFileOK}}</div>
        <div [innerHTML]="msgConfirmImport" class="panel_validacion"
            style='width:80%;min-height:40px;height:auto; margin-top:0px;font-size: 12px;' *ngIf='msgConfirmImport'>
        </div>
        <div class="panel" style='width:80%;height:40px;margin-top:0px' *ngIf='importing'>
            <div class="tableSpinner" style="position: inherit;">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" *ngIf='showValidarImport'
            (click)="importarPlantilla(true, false)">Validar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" *ngIf='showConfirmarImport'
            (click)="importarPlantilla(false, true)">Confirmar</button>

    </div>
</ng-template>

<ng-template #modalHistory let-modal>

    <div class="modal-header header-update">
        <h4 class="modal-title col-md-11" id="modal-basic-title">Historial {{selectedData.cod_variable}} --  {{selectedData.date | date: 'dd/MM/yyyy HH:mm:ss'}} </h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>


    <div class="modal-body" style="padding: 0px 10px 0px 10px;font-size:12px;min-height: 300px;">
        <div style="margin-bottom: 15px;">
            <div class="panel" >
                <table class="maxive-detail-table">
                    <thead>
                        <tr class="maxive-header">
                            <td class="maxive-header-td" style="width: 12%;">Usuario</td>
                            <td class="maxive-header-td" style="width: 12%;">Variable</td>
                            <td class="maxive-header-td" style="width: 15%;">Fecha muestra</td>
                            <td class="maxive-header-td" style="width: 10%;">Valor</td>
                            <td class="maxive-header-td" style="width: 10%;">Valid.</td>
                            <td class="maxive-header-td" style="width: 15%;">Fecha Edición Ant</td>
                            <td class="maxive-header-td" style="width: 10%;">Valor Ant</td>
                            <td class="maxive-header-td" style="width: 10%;">Valid Ant.</td>
                        </tr>
                    </thead>
                    <tr *ngIf="!listDataHistory || listDataHistory.length==0">
                            <td colspan="7" style="padding: 10px;font-weight: bold;">
                                No hay historial para este registro
                            </td>
                    </tr>
                    <ng-container *ngFor="let item of listDataHistory">
                        <tr class="maxive-cell ">
                            <td class="maxive-header-td">{{item.username}}</td>
                            <td class="maxive-header-td">{{item.cod_variable}}</td>
                            <td class="maxive-header-td">{{item.timestamp_medicion | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td class="maxive-header-td">{{item.valor}}</td>
                            <td class="maxive-header-td">{{item.ind_validacion}}</td>
                            <td class="maxive-header-td">{{item.timestamp_insercion_ant | date: 'dd/MM/yyyy HH:mm:ss' }}
                            </td>                            
                            <td class="maxive-header-td">{{item.valor_ant}}</td>
                            <td class="maxive-header-td">{{item.ind_validacion_ant}}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>

</ng-template>


<ng-template #modalAddDatoDiario let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title" id="modal-basic-title">Añadir dato horario</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body" style="padding: 20px 10px 0px 10px;font-size:12px">
        <div style="margin-bottom: 15px;">

            <div class="panel" style="padding:0px 20px 0px 20px">
                <div class="row">
                    <div class="col-md-3 label-recalc">
                        Cod.Estación
                    </div>
                    <div class="col-md-3 value-recalc">
                        {{varSelected.cod_estacion}}
                    </div>
                    <div class="col-md-3 label-recalc">
                        Desc.Estación
                    </div>
                    <div class="col-md-3 value-recalc">
                        {{varSelected.desc_estacion}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 label-recalc">
                        Cod.Variable
                    </div>
                    <div class="col-md-3 value-recalc">
                        {{varSelected.cod_variable}}
                    </div>
                    <div class="col-md-3 label-recalc">
                        Desc.Variable
                    </div>
                    <div class="col-md-3 value-recalc">
                        {{varSelected.desc_variable}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 label-recalc">
                        Fecha
                    </div>
                    <div class="col-md-3 value-recalc">
                        <input class="form-control" placeholder="dd/mm/yyyy" name="fechaIniRecalculo" autocomplete="off"
                            style="width: 100px;" [matDatepicker]="mdp" [(ngModel)]="varSelected.date"
                            (click)="mdp.open()">
                        <mat-datepicker #mdp></mat-datepicker>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                                style="color: #343a40 !important;" (click)="mdp.open()" type="button"></button>
                        </div>
                    </div>
                    <div class="col-md-3 label-recalc">
                        Hora
                    </div>
                    <div class="col-md-3 value-recalc">
                        <input class="form-control" placeholder="Valor" type="time" name="value" autocomplete="off"
                            [(ngModel)]="varSelected.hour">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 label-recalc">
                        Valor
                    </div>
                    <div class="col-md-3 value-recalc">
                        <input class="form-control" placeholder="Valor" type='number' name="value" autocomplete="off"
                            [(ngModel)]="varSelected.value">
                    </div>
                    <div class="col-md-3 label-recalc">
                        Mot.Invalidacion
                    </div>
                    <div class="col-md-3 value-recalc">
                        <select matNativeControl [(ngModel)]="varSelected.cod_motivo_invalidacion" name="motivo"
                            style="width: 100%;">
                            <option [value]=0 selected>--</option>
                            <option *ngFor="let item of motivosInvalidacion" [value]="item.cod_motivo_invalidacion">
                                {{item.desc_motivo_invalidacion}}
                            </option>
                        </select>
                    </div>
                </div>


            </div>


        </div>
    </div>

    <div class="modal-footer">
        <div class="panel_warning" style='width:90%;height:40px;margin-top:0px' *ngIf='msgErrorOnCreate'>
            {{msgErrorOnCreate}}</div>
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm"
            (click)="onCreateDatoHorario()">Aceptar</button>
    </div>
</ng-template>

<ng-template #modalConfirmDeselect let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title" id="modal-basic-title">Atención!</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div> <b>{{measuresDeselected}}</b> medidas han sido eliminadas del panel de resultados.</div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel" (click)="cerrarDeselect()">Cerrar</button>
    </div>
</ng-template>
<ng-template #modalEditarDiario let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmación de guardado datos </h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table-valores">
            <tr>
                <td style="width: 50%;" style=" background-color: #dee2e6;"> Fecha</td>
                <td style="width: 50%;"> {{selectedData.date | date: 'dd/MM/yyyy'}} </td>
            </tr>
            <tr>
                <td style="width: 50%;" style=" background-color: #dee2e6;"> Valor</td>
                <td style="width: 50%;"><input type="number" [(ngModel)]="valueEdition" class="form-control"
                        name="valor"> </td>
            </tr>
            <tr>
                <td style="width: 50%;" style=" background-color: #dee2e6;"> Fiabilidad</td>
                <td style="width: 50%;"> {{selectedData.fiabilidad}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm"
            (click)="confirmEditionValue()">Confirmar</button>
    </div>
</ng-template>
<ng-template #modalConfirmSave let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title" id="modal-basic-title">Confirmación de operación </h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div> ¿Desea continuar con el proceso para guardar las <b>{{pendientesSave}}</b> medidas de
            <b>{{pendientesSaveNumeroVar}}</b> series
            modificadas ? Si acepta, espere hasta que esta ventana se cierre automáticamente, el proceso puede tardar
            unos segundos
        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel" (click)="modal.dismiss('Cross click')"
            *ngIf="!saving">Cancelar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="confirmSave()"
            *ngIf="!saving">Confirmar</button>

        <div class="col-md-12 pl-0" *ngIf="saving">
            <div class="tableSpinner" style="position: inherit !important;float:rigth;">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

    </div>
</ng-template>
<ng-template #modalInvalidar let-modal>
    <div class="modal-header header-update">
        <h4 class="modal-title" id="modal-basic-title" style="font-size: 20px;">Invalidaciones masivas</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="closeInvalidar()"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div style="margin-bottom: 10px;">
            <div><small>Marque las filas y seleccione el motivo por el que desea invalidarlas</small>
            </div>
            <div style="height:300px; overflow:auto;">
                <table class="maxive-detail-table">
                    <thead>
                        <tr class="maxive-header">
                            <td class="maxive-header-td" style="width: 10%;"><input type="checkbox" checked name="test"
                                    (change)="onChangeModalAllSelection($event)" /></td>
                            <td class="maxive-header-td" style="width: 20%;">Variable</td>
                            <td class="maxive-header-td" style="width: 20%;">Fecha</td>
                            <td class="maxive-header-td" style="width: 20%;">Valor</td>
                            <td class="maxive-header-td" style="width: 10%;">Válido</td>
                            <td class="maxive-header-td" style="width: 20%;">Motivo Invalid.</td>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let item of selectedData">
                        <tr class="maxive-cell ">
                            <td class="maxive-header-td"><input type="checkbox" name="test"
                                    [(ngModel)]="item.selected" /></td>
                            <td class="maxive-header-td">{{item.cod_variable}}</td>
                            <td class="maxive-header-td">{{item.date}}</td>
                            <td class="maxive-header-td">{{item.value}}</td>
                            <td class="maxive-header-td">{{item.valido}}</td>
                            <td class="maxive-header-td">{{item.motivoInvalidacion.desc}}</td>
                        </tr>
                    </ng-container>
                </table>

            </div>
            <div style="display:flex">
                <label style="padding-top: 7px;"><b>Seleccione motivo de invalidación:</b></label>
                <select matNativeControl [(ngModel)]="selectedMotivo" name="motivo"
                    style="width:60%;margin-left: 10px;margin-right: 10px;">
                    <!--<option [value]=0 selected>Seleccione motivo de invalidación </option>-->
                    <option *ngFor="let item of motivosInvalidacion" [value]="item.cod_motivo_invalidacion">
                        {{item.desc_motivo_invalidacion}}
                    </option>
                </select>
                <button mat-stroked-button type="button" [disabled]="selectedMotivo==null || selectedMotivo==0"
                    class="btn_modal_cancel" style="background-color: #fff3e0;font-size:12px;line-height:25px"
                    (click)="marcarFilasInvalidas();">Aplicar</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel" (click)="closeInvalidar();">Cancelar</button>

        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="invalidarMasivo()"
            [disabled]="!algunaInvalidacionMarcada">Guardar cambios</button>
    </div>
</ng-template>
<!--
<ng-template #modalAction let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Relleno de huecos </h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div> ¿Desea continuar con el proceso para relleno de huecos?</div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel" (click)="modal.dismiss('Cross click')"
            *ngIf="!saving">Cancelar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="fillGaps()"
            *ngIf="!saving">Confirmar</button>

        <div class="col-md-12 pl-0" *ngIf="saving">
            <div class="tableSpinner" style="position: inherit !important;float:rigth;">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

    </div>
</ng-template>
-->

<!-- FIN DE LAS MODALES-->

<div>

    <app-basic-filter *ngIf="filter" [filter]="filter" (onSearch)="loadVariables($event)"
        (onChangeComponent)="onChangeFilterComponent($event)" (onClear)="onClearFilter($event)"
        (onExtra)="onExtraAction($event)">
    </app-basic-filter>
    <!--
    <div class="col-md-12 pl-0" *ngIf="tipoDato=='H'" style="margin-bottom: 10px;">
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="openForzarSumarizacion()"
            style="float: right;margin-left: 10px;"><em class="fa fa-cogs" style="margin-right: 10px;"></em>Marcar
            sumarización</button>

        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="openCompletarHuecos()"
            style="float: right;margin-left: 10px;"><em class="fa fa-clock-o" style="margin-right: 10px;"></em>Completar
            huecos</button>

        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="openExportar()"
            style="float: right;margin-left: 10px;"><em class="fa fa-download" style="margin-right: 10px;"></em>Generar
            plantilla</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="openImportar()"
            style="float: right;"><em class="fa fa-upload" style="margin-right: 10px;"></em>Importar plantilla</button>



    </div>
-->
    <div class="col-md-12 pl-0" [hidden]="!loadingTree">
        <div class="tableSpinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <mat-drawer-container class="example-container" autosize *ngIf='showPanelTree'>
        <mat-drawer #drawer class="example-sidenav" mode="side" opened>
            <i class='fa fa-caret-left' style="position: absolute;right: 0px; font-size: 30px;"
                (click)="drawer.toggle()" *ngIf="drawer.opened"></i>
            <div style="background-color: #ededed;border: 1px dotted;margin-bottom: 5px;"
                *ngIf="listVariables.length<999">{{listVariables.length}} variables
                encontradas</div>
            <div style="background-color: red; color: white; border: 1px dotted;margin-bottom: 5px;"
                *ngIf="listVariables.length>=1000">Sólo se muestran
                los primeros 1000 rtdos</div>
            <tree-checklist [conf]="confTree" [data]="dataTree" (onChangeSelection)="onChangeSelectionTree($event)">
            </tree-checklist>

        </mat-drawer>

        <div class="example-sidenav-content">
            <i class='fa fa-caret-right' style="position: absolute;left: 0px;font-size: 30px;" (click)="drawer.toggle()"
                *ngIf="!drawer.opened"></i>
            <div class="container-measures" style="padding: 10px;">
                <div>
                    <mat-panel-title>
                        Mediciones - Panel de resultados
                    </mat-panel-title>
                    <div *ngIf="variablesSelected.length==0" style="margin-top: 20px;">
                        <small>No hay variables seleccionadas</small>
                    </div>

                    <mat-tab-group dynamicHeight *ngIf="variablesSelected.length>0" [(selectedIndex)]="selectedTabIndex"
                        (animationDone)="onTabChanged();" animationDuration="0ms">
                        <mat-tab label="Gráfica" *ngIf="tipoDato=='H'" style="overflow: hidden !important;">
                            <div class="row" style="padding: 5px;background-color: #dbdbdb">
                                <div class="col-md-4" style="display: flex;height: 30px;">


                                    <button mat-mini-fab aria-label="warn" matTooltip="Guardar en base datos"
                                        class="my-fab" style="background-color: green; margin-top: 3px;"
                                        (click)="openModalSave()">
                                        <mat-icon>save</mat-icon>
                                    </button>

                                    <select class="form-control" name="serieSelected" [(ngModel)]="serieSelected"
                                        style="margin-left: 10px;min-width: 300px;" (change)="changeSerieChart()">
                                        <option value="" selected>-- Seleccione variable -- </option>
                                        <ng-container *ngFor="let item of variablesSelected">
                                            <option [value]="item.cod_variable" *ngIf="item.selected">
                                                {{item.cod_variable}} - {{item.desc_variable}} - {{item.desc_estacion}}
                                            </option>
                                        </ng-container>
                                    </select>



                                    <!--
                                <mat-select class="form-control" multiple name="multipleSerieSelected" [(ngModel)]="multipleSerieSelected" style="margin-left: 10px;min-width: 300px; font-size: 12px;"
                                (selectionChange)="changeSerieChart()">
                                    <ng-container  *ngFor="let item of variablesSelected">
                                        <mat-option [value]="item.cod_variable" *ngIf="item.selected">
                                            {{item.cod_variable}} - {{item.desc_variable}} - {{item.desc_estacion}}
                                        </mat-option>
                                    </ng-container>
                                 </mat-select>
                                -->
                                    <!--
                                    <mat-form-field appearance="fill">
                                        <mat-label>Toppings</mat-label>
                                        <mat-select [formControl]="toppings" multiple>
                                          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    -->

                                    <div
                                        style="height: 25px;width: 150px;display: inline-flex;margin-left: 10px;padding-top: 3px;margin-right: 5px;">

                                        <button mat-mini-fab aria-label="warn"
                                            matTooltip="Refrescar serie desde  base de datos" class="my-fab"
                                            style="margin-right: 10px;background-color: teal;" (click)="btnRefresh()">
                                            <mat-icon>refresh</mat-icon>
                                        </button>


                                        <button mat-mini-fab aria-label="warn"
                                            matTooltip="Limpiar todas las áreas seleccionadas" class="my-fab"
                                            style="margin-right: 10px;background-color: teal;"
                                            (click)="btnClearCanvas()">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <button mat-mini-fab aria-label="warn"
                                            matTooltip="Abrir ventana de validación para todos los elementos seleccionados"
                                            class="my-fab" style="margin-right: 10px;background-color: teal"
                                            (click)="openValidation(-1)">
                                            <mat-icon>check</mat-icon>
                                        </button>

                                        <button mat-mini-fab aria-label="warn" matTooltip="Resetear zoom" class="my-fab"
                                            style="margin-right: 10px;background-color: teal" (click)="resetZoom()">
                                            <mat-icon>zoom_out_map</mat-icon>
                                        </button>

                                        <button mat-mini-fab aria-label="warn" matTooltip="Ayuda" class="my-fab"
                                            style="margin-right: 10px;background-color: teal" (click)="openHelp()">
                                            <mat-icon>help</mat-icon>
                                        </button>
                                    </div>
                                    <div>
                                        <div style="height: 25px;display: inline-flex;">
                                            <div style="font-size: 12px;width:150px;padding-top: 8px;">Modo de
                                                selección: </div>
                                            <mat-button-toggle-group #group="matButtonToggleGroup"
                                                style="height: 25px;">
                                                <mat-button-toggle matTooltip="Modo navegación" value="1"
                                                    aria-label="Text align left style" style="height: 30px;"
                                                    [checked]="toolCharSelected==1"
                                                    (change)="toolCharSelected = 1;changeChartTool();">
                                                    <mat-icon style="height: 100%;margin-top:-5px;">mouse</mat-icon>
                                                </mat-button-toggle>
                                                <mat-button-toggle matTooltip="Modo selección con rectángulo" value="2"
                                                    aria-label="Text align left style" style="height: 30px;"
                                                    [checked]="toolCharSelected==2"
                                                    (change)="toolCharSelected = 2;changeChartTool();">
                                                    <mat-icon style="height: 100%;;margin-top:-5px;">crop_free
                                                    </mat-icon>
                                                </mat-button-toggle>
                                                <mat-button-toggle matTooltip="Modo selección por punto" value="3"
                                                    aria-label="Text align center" style="height: 30px;"
                                                    [checked]="toolCharSelected==3"
                                                    (change)="toolCharSelected = 3;changeChartTool();">
                                                    <mat-icon style="height: 100%;;margin-top:-5px;">adjust</mat-icon>
                                                </mat-button-toggle>

                                            </mat-button-toggle-group>
                                            <mat-button-toggle-group #group="matButtonToggleGroup"
                                                style="height: 25px;margin-left: 5px;">
                                                <mat-button-toggle matTooltip="Habilitar Zoom y padding libre" value="4"
                                                    aria-label="Text align center" style="height: 30px;"
                                                    [checked]="toolZoomEnabled"
                                                    (change)="toolZoomEnabled=!toolZoomEnabled;activateZoom();">
                                                    <mat-icon style="height: 100%;;margin-top:-5px;">open_with
                                                    </mat-icon>
                                                </mat-button-toggle>
                                            </mat-button-toggle-group>


                                            <mat-button-toggle-group #group="matButtonToggleGroup"
                                                style="height: 25px;margin-left: 5px;">
                                                <mat-button-toggle matTooltip="Ocultar datos inválidos" value="4"
                                                    aria-label="Text align center" style="height: 30px;"
                                                    [checked]="hideInvalidosEnabled"
                                                    (change)="hideInvalidosEnabled=!hideInvalidosEnabled;ocultarInvalidos();">
                                                    <mat-icon style="height: 100%;;margin-top:-5px;">warning
                                                    </mat-icon>
                                                </mat-button-toggle>
                                            </mat-button-toggle-group>

                                            <!--<div *ngIf="tipoRed==1 && !esCalculadaSelected && profile && profile.nombre=='Pablo' "-->
                                            <div *ngIf="tipoRed==1 && !esCalculadaSelected"
                                                style="height: 25px;width: 120px;display: inline-flex;margin-left: 10px;padding-top: 3px;margin-right: 5px;">
                                                <button mat-mini-fab aria-label="warn"
                                                    matTooltip="Rellenar huecos de zonas seleccionadas" class="my-fab"
                                                    style="margin-right: 10px;background-color: teal"
                                                    (click)="openFillGaps()">
                                                    <mat-icon>space_bar</mat-icon>
                                                </button>

                                                <button mat-mini-fab aria-label="warn"
                                                    matTooltip="Rellenar huecos de toda la serie" class="my-fab"
                                                    style="margin-right: 10px;background-color: teal"
                                                    (click)="openDetectGaps()">
                                                    <mat-icon>brightness_auto</mat-icon>
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 pl-0" [hidden]="!loadingMeasures" style="margin-left: 20px;">
                                        <div class="tableSpinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="col-md-8" style="color: #7c7c7c; text-align: right; font-size: 12px; font-weight: 700;margin-top: 5px;z-index: -10;">
                                    <span style="color: green;">[{{tablaMedidas.getRecordsPendingSave()}} pendientes de guardar] </span> 
                                </div>
                            -->
                            </div>
                            <div class="container-tab container-tab-custom">
                                <div class="row">
                                    <div class="col-md-12" style="height: 400px;width: 100%;;">
                                        <div
                                            style="height:400px;background-color: white; width: 100%;margin-left: 0px;">
                                            <canvas id="overlay" width="100%" height="400"
                                                style="position:absolute;pointer-events:none;"></canvas>
                                            <canvas id="graphContainer" width="100%" height="400"
                                                style="  width:800px !important; height:400px !important;"></canvas>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </mat-tab>
                        <mat-tab label="Tabla">
                            <div class="container-tab container-tab-custom">
                                <div class="row" style="padding: 5px;background-color: #dbdbdb;width: 100%;margin: 0px;"
                                    *ngIf="tipoDato=='D'">
                                    <div class="col-md-6">
                                        <select class="form-control" name="serieSelected" [(ngModel)]="serieSelected"
                                            style="margin-left: 10px;width: 300px;" (change)="changeSerieDiaria()">
                                            <option value="" selected>-- Seleccione variable -- </option>
                                            <ng-container *ngFor="let item of variablesSelected">
                                                <option [value]="item.cod_variable" *ngIf="item.selected">
                                                    {{item.cod_variable}} - {{item.desc_variable}} -
                                                    {{item.desc_estacion}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <div [hidden]="!loadingMeasures" style="margin-left: 330px;">
                                            <div class="tableSpinner">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="custom_menu_masivo_offset" [matMenuTriggerFor]="clickHoverMenu"
                                            #triggerMenuOperacionesMasivo="matMenuTrigger">
                                        </div>
                                        <mat-menu #clickHoverMenu="matMenu">
                                            <button (click)="invalidarMasivo()" mat-menu-item>Invalidar
                                                masivamente</button>
                                        </mat-menu>

                                        <app-basic-table *ngIf="tablaMedidas" [table]="tablaMedidas"
                                            (onExecuteTableRowUtilityAction)="onExecuteTableRowUtilityAction($event);"
                                            (onExecuteTableUtilityAction)="onExecuteTableUtilityAction($event)">
                                        </app-basic-table>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>



                    </mat-tab-group>

                </div>

            </div>
            <div style="padding: 10px;">
                <app-basic-table [table]="tablaVariables" (onPagination)="onPagination($event)"
                    (onExecuteTableRowUtilityAction)="onExecuteTableRowUtilityActionVariable($event);"
                    *ngIf='tablaVariables && showSelectedVariables'>
                </app-basic-table>
            </div>
        </div>
    </mat-drawer-container>
</div>