@import "./../../node_modules/@arca/common/styles/bootstrap/bootstrap";
@import "./../../node_modules/@arca/common/styles/spinner";
@import "./../../node_modules/@arca/common/styles/utils";
@import "./../../node_modules/@arca/common/styles/rtl";
@import "./../../node_modules/@arca/common/styles/responsive";
@import "./../../node_modules/@arca/common/styles/angular2.multiselect.drowpdown.default.theme.css";
@import "./../../node_modules/@arca/common/styles/arca.css";
@import "./../../node_modules/@arca/common/styles/generic.table.css";
@import "./../../node_modules/@arca/common/styles/generic.layout.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@media print {
    .breadcrumb {
        display: none !important;
    }
} 
.wide-menu {
    max-width: none !important;
}
.container-page {
margin-left: 40px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), 
         local('MaterialIcons-Regular'), 
         url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons'
    
  }
  .btn_modal_confirm {
    background-color: #c7e4c7;
}
  .btn_modal_cancel {
    background-color: #e8b4c6;
}
.btn-assistant {
    background-color: #d3def7; border-radius: 3px;padding: 5px;
}