.table-valores{
    font-size: 12px;
    width: 98%;
    text-align: center;
    border: 1px solid #dee2e6;
  
  }
  .table-valores th{
    padding: 3px;
    border: 1px solid white;  
    position: sticky;
    text-align: center;
    top: 0;
    color: #6868ff !important;
    background-color: #e0e0e0;     
  }
  .table-valores td{
    border: 1px solid #dee2e6;  
  }
  .dato_invalido{
      color: red;
  }