<ng-template #modalValidacionConfirm let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="tipoValidacion==1">Invalidación de datos </h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="tipoValidacion==2">Invalidación por rango de fechas</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body" style="padding: 0px 10px 0px 10px;font-size:12px" *ngIf='msgErrorMasivo'>
        <div style="margin-bottom: 15px;">
            <div style="background-color: #ffe6e6;color: red; width: 100%; border-radius: 4px;padding: 7px;border: red 1px solid" >     
                 <b>ATENCIÓN</b>: {{msgErrorMasivo}}
            </div>
        </div>
    </div>
    <div class="modal-body" style="padding: 0px 10px 0px 10px;font-size:12px" *ngIf='!msgErrorMasivo'>
        <div style="margin-bottom: 15px;">
            <div style="background-color: wheat;width: 100%; border-radius: 4px;padding: 7px;" *ngIf="tipoValidacion==2">     
                Se modificarán <b>{{tablaResultados.totalElements}}</b> sondeos desde el <b>{{date_from_rango | date: 'dd/MM/yyyy' }}</b> hasta el <b>{{date_to_rango | date: 'dd/MM/yyyy'}}</b>.                
            </div>
            <br>
                    <div style="background-color: wheat;width: 100%; border-radius: 4px;">                         
                        <div class="row" style="padding: 10px;">
                        <ng-container *ngFor="let param of statusValidacion">
                            <div class="col-sm-6 ">
                                <b>{{param.name}}</b> : 
                                <select matNativeControl [(ngModel)]="param.value" name="motivo" style="width: 100%;" >
                                    <option *ngFor="let item of motivosInvalidacion" [value]="item.cod_validez">
                                        {{item.desc_motivo_invalidacion}}
                                    </option>
                                </select>                                
                             </div>
                        </ng-container>                                         
                        </div>
                    </div>
        </div>
    </div>

    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"  (click)="modal.dismiss('Cross click')">Cerrar</button>
        <button *ngIf="!saving_masivo && !msgErrorMasivo"  mat-stroked-button type="button" class="btn_modal_confirm" (click)="onSave(modal)" >Aceptar</button>
        <img *ngIf="saving_masivo && tipoValidacion==2" class="pl-1" src="assets/img/loading.gif" style="height: 40px;">
    </div>    
</ng-template>
<ng-template #modalValidacion let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Validar datos sonda AquaDam -  {{rowSelected.nombre}}. </h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body" style="padding: 0px 10px 0px 10px;font-size:12px;height: 800px">
            <div style="margin-bottom: 15px;">
                <div class="row" style="margin-right: 0px;margin-left: 0px;">
                    <div class="col-sm-11 ">
                        <div style="background-color: wheat;width: 100%; border-radius: 4px;min-height: 40px;" >
                            <div class="row" style="padding: 10px 10px 0px 10px">
                                <div class="col-sm-3 " style="font-size: 16px;text-align: center;">
                                    <em *ngIf='referenceDays && referenceDays.prev_date' class="fa fa-arrow-circle-left" style="color: #2196f3;font-size: 30px;" (click)="goDay(-1);"></em>
                                </div>
                                <div class="col-sm-6 " style="font-size: 16px;text-align: center;">
                                    {{rowSelected.cod_sonda}} {{rowSelected.nombre}} - {{dateSelected}}
                                </div>
                                <div class="col-sm-3 " style="font-size: 16px;text-align: center;">
                                    <em *ngIf='referenceDays && referenceDays.next_date' class="fa fa-arrow-circle-right" style="color:#2196f3 ;font-size: 30px;" (click)="goDay(1);"></em>
                                    <em *ngIf='referenceDays && referenceDays.next_date && referenceDays.last_date' class="fa fa-arrow-circle-right" style="color: #3f51b5;font-size: 30px; margin-left: 10px; " (click)="goDay(2);"></em>
                                </div>
                                </div>                            
                            <div class="row" style="padding: 10px;">
                            <div class="col-sm-4 " *ngIf="datosNivel">
                               <b>Nivel máx normal [NMN]</b> : {{datosNivel.nmn}}
                            </div>
                            <div class="col-sm-4 "  *ngIf="datosNivel">
                                <b>Nivel[NE]</b> : {{datosNivel.nivel}}<br><b>[NMN]</b> {{datosNivel.porcentaje}}%
                            </div>
                            <div class="col-sm-4 " *ngIf="datosCotas">
                                <b>Mostrar cotas de referencia</b>
                                <mat-checkbox name="showCotas" class="example-margin" style="margin-left: 5px;" [(ngModel)]="showCotas" (change)="onShowCotas()"></mat-checkbox>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-1 ">
                            <a href='javascript:void(0)' (click)="onValidate()">
                                <em class="fa fa-check-circle" style="color: black;margin-top: 20px;font-size: 50px;"  title="Validar">
                                </em>
                            </a>
                        </div>
                    </div> 
                <mat-tab-group>
                    <mat-tab label="Gráfica">
                        <div style="padding: 10px; font-size: 14px;" *ngIf="!datoMuestra">
                            Cargando datos, espere por favor...
                        </div>                        
                        <div style="height: 670px;width: 100%;">
                            <div style="height:90%;width:99%" id="chartdiv"></div>            
                        </div> 
                    </mat-tab>                    
                    <mat-tab label="Tabla">
                        <div style="height: 650px;width: 100%;">
                            <!--
                            <app-basic-table *ngIf="datoMuestra" [table]="tablaCotas" ></app-basic-table>    
                            -->
                            <table class="table-valores">
                                <thead>
                                    <th style="width: 10%;"> Nº muestra</th>
                                    <th style="width: 10%;"> Cota [msnm]</th>
                                    <th style="width: 10%;"> Prof [m]</th>
                                    <th style="width: 10%;" *ngIf="confSonda.temperatura"> Temp [ºC]</th>
                                    <th style="width: 10%;" *ngIf="confSonda.ph"> pH [ud pH]</th>
                                    <th style="width: 10%;" *ngIf="confSonda.oxigeno"> O.D [mg/l]</th>
                                    <th style="width: 10%;" *ngIf="confSonda.conductividad"> Conduct [µS/cm]</th>
                                    <th style="width: 10%;" *ngIf="confSonda.redox"> REDOX [mV]</th>
                                    <th style="width: 10%;" *ngIf="confSonda.turbidez"> Turbidez [NTU]</th>
                                    <th style="width: 10%;" *ngIf="confSonda.secchi"> Secchi [%]</th>
                                    <th style="width: 10%;" *ngIf="confSonda.clorofila1">Clorofila [ug/l]</th>
                                    <th style="width: 10%;" *ngIf="confSonda.ficocianina">Ficocianina [Cell/L]</th>
                                </thead> 
                                <ng-container *ngFor="let value of datoMuestra">
                                    <tr>
                                        <td >{{value.num_lectura}}</td>
                                        <td>{{value.cota}}</td>
                                        <td>{{value.profundidad}}</td>
                                        <td *ngIf="confSonda.temperatura"  [class.dato_invalido] = "value.val_temperatura > 1"      title="{{getMotivoInvalidacionDesc(value.val_temperatura)}}">{{value.temperatura}}</td>
                                        <td *ngIf="confSonda.ph" [class.dato_invalido] = "value.val_ph > 1"      title="{{getMotivoInvalidacionDesc(value.val_ph)}}">{{value.ph}}</td>
                                        <td *ngIf="confSonda.oxigeno" [class.dato_invalido] = "value.val_oxigeno > 1" title="{{getMotivoInvalidacionDesc(value.val_oxigeno)}}">{{value.oxigeno}} </td>
                                        <td *ngIf="confSonda.conductividad" [class.dato_invalido] = "value.val_conductividad > 1" title="{{getMotivoInvalidacionDesc(value.val_conductividad)}}">{{value.conductividad}}</td>
                                        <td *ngIf="confSonda.redox" [class.dato_invalido] = "value.val_redox > 1" title="{{getMotivoInvalidacionDesc(value.val_redox)}}">{{value.redox}}</td>
                                        <td *ngIf="confSonda.turbidez" [class.dato_invalido] = "value.val_turbidez > 1" title="{{getMotivoInvalidacionDesc(value.val_turbidez)}}">{{value.turbidez}}</td>
                                        <td *ngIf="confSonda.secchi" [class.dato_invalido] = "value.val_secchi > 1" title="{{getMotivoInvalidacionDesc(value.val_secchi)}}">{{value.secchi}}</td>
                                        <td *ngIf="confSonda.clorofila1" [class.dato_invalido] = "value.val_clorofila1 > 1" title="{{getMotivoInvalidacionDesc(value.val_clorofila1)}}">{{value.clorofila1}}</td>
                                        <td *ngIf="confSonda.ficocianina" [class.dato_invalido] = "value.val_ficocianina > 1" title="{{getMotivoInvalidacionDesc(value.val_ficocianina)}}">{{value.ficocianina}}</td>
                                    </tr>    
                                </ng-container>                                                               
                            
                            </table>                         
                        </div>                        
                    </mat-tab>                    
                </mat-tab-group>
            </div>                            
    </div>
    <div class="modal-footer">        
        <button mat-stroked-button type="button" class="btn_modal_cancel"  (click)="modal.dismiss('Cross click')">Cerrar</button>
        <!--<button mat-stroked-button type="button" class="btn_modal_confirm" (click)="onConfirmValidate()">Aceptar</button>-->
    </div>
</ng-template>

<div>
<app-basic-filter *ngIf="filter" [filter]="filter" (onSearch)="onSearch($event)"></app-basic-filter>
<app-basic-table *ngIf="tablaResultados" [table]="tablaResultados" 
(onExecuteTableRowUtilityAction)="onExecuteTableRowUtilityAction($event);"
(onExecuteTableUtilityAction)="onExecuteTableUtilityAction($event)"
(onPagination)="onPagination($event)" 
(onSort)="onSort($event)" 
(afterExecuteCrudAction)="afterExecuteCrudAction($event)"></app-basic-table>
</div>
