<!--<arca-common-login-form [codeApp]=codeApp (onSubmit)="login($event)"></arca-common-login-form>
-->
<div class="row" >
    
    <div class="col-md-3 loginDiv p-5 mx-auto">
        <!--<img src="assets/images/logo_SAIH.png" style="height:100px; width: 220px; border: 1px solid #153e50;border-radius:10px;margin-left: 25%;">-->
        <mat-form-field>
            <input type="email"  matInput placeholder="Introduzca nombre de usuario" [(ngModel)]="username" (keydown)="onKeydown($event)">
            <i class="fa fa-user" aria-hidden="true" matPrefix></i>
        </mat-form-field>
        <!--
        <mat-form-field>
            <input matInput placeholder="Contraseña" type="password" [(ngModel)]="password"
                (keydown)="onKeydown($event)">
            <i class="fa fa-lock" aria-hidden="true" matPrefix></i>
        </mat-form-field>
        -->
        <div class="p-0 pt-3 position-relative">
            <div class="loginButton float-right" (click)="recover()"><i class="fa fa-arrow-right"
                    aria-hidden="true"></i></div>
           <!-- <div class="spinner loginSpinner" [hidden]="!loading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>-->
            <div class="loginErrorDiv" *ngIf="error">{{error}}</div>            
            <div class="loginErrorDiv" style="color: green;" *ngIf="enviado==1">Se ha enviado su nueva contraseña a su correo electrónico</div>
            <div style="text-align: center;font-size: 14px;"><a href='{{env.CAS_SERVER}}/login?service={{env.VISOR_SERVICE}}' target="_blank">[Volver a página de login]</a></div>
        </div>
    </div>
</div>

