::ng-deep .cdk-overlay-container {
    position: fixed !important;
    z-index: 100000 !important; /* set value you need */
}
.table-valores{
    width: 100%;
    text-align: center;
    border: 1px solid #dee2e6;
  
  }
  .table-valores th{
    padding: 3px;
    border: 1px solid white;  
    position: sticky;
    text-align: center;
    top: 0;
    background-color: #dee2e6;     
  }
  .table-valores td{
    border: 1px solid #dee2e6;  
  }
  .label-recalc{
    text-align: right;
    font-weight: 500;
    background-color: rgb(219, 219, 219);;
    border: 1px solid #f8f9fa;
  }
  .value-recalc{
    text-align: left;
    background-color: rgb(219, 219, 219);;
    border: 1px solid #f8f9fa;
    display: flex;
  }
  