<app-basic-filter *ngIf="filter" [filter]="filter" (onSearch)="onSearch($event)"></app-basic-filter>
<app-basic-table *ngIf="tablaConstantes" [table]="tablaConstantes" (onPagination)="onPagination($event)"
    (onSort)="onSort($event)" 
    (afterExecuteCrudAction)="afterExecuteCrudAction($event)"    
    ></app-basic-table> 