<div class="container-page">
    <arca-common-navigationbar [root]=rootSection [sections]=sections (seleccionar)="selectOption($event)">
    </arca-common-navigationbar>
    <ng-container *ngIf="selectedOption=='mto'">
        <app-monitor-procesos></app-monitor-procesos>
    </ng-container>
    <ng-container *ngIf="selectedOption=='mto_ops'">
        <app-monitor-ops></app-monitor-ops>
    </ng-container>

</div>