
<table class="table-valores">
    <thead>
        <th style="width: 10%;text-align: center;vertical-align: top;text-align: left;"> Código</th>
        <th style="width: 20%;vertical-align: top" *ngIf="config.showName"> Nombre</th>
        <th *ngIf="config.showPublic" style="width: 10%;vertical-align: top">Pública</th>
        <th *ngIf="config.showNivel" style="width: 10%;vertical-align: top">Nivel</th>
        <th style="width: 20%;vertical-align: top"> Visible<br>
            <mat-checkbox *ngIf="config.typeSelection==1" name="all" class="example-margin" (change)="selectAll($event)" [(ngModel)]="allSelected"></mat-checkbox>
        </th>
    </thead>  
    <ng-container *ngFor="let item of items">
        <ng-container> 
            <tr style="font-size: 12px;">
                <td style="text-align: left;margin-left:5px;">
                    {{item.cod}}
                </td> 
                <td *ngIf="config.showName">
                    {{item.nombre}} 
                </td>
                <td *ngIf="config.showPublic">
                    <span *ngIf="item.visible_public"><i class="fa fa-check" style="color: green;"></i></span>                    
                    <span *ngIf="!item.visible_public"><i class="fa fa-times" style="color: red;"></i></span>                    
                </td>
                <td *ngIf="config.showNivel">{{visible_nivel}}
                    <span *ngIf="item.visible_nivel != null && item.visible_nivel == 1"><i class="fa fa-check" style="color: green;"></i></span>                    
                    <span *ngIf="item.visible_nivel != null && item.visible_nivel == 0"><i class="fa fa-times" style="color: red;"></i></span>                    
                    <span *ngIf="item.visible_nivel === null">HE</span>                    
                    <span *ngIf="item.visible_nivel === -1">HE</span>                    
                </td>
                <td>
                    <mat-checkbox *ngIf="config.typeSelection==1" name="visible_{{item.cod}}" class="example-margin" [(ngModel)]="item.selected"></mat-checkbox>
                    <select *ngIf="config.typeSelection==2" class="form-control" name="visible_{{item.cod}}" [(ngModel)]="item.selected"> 
                        <option value="-1" >Heredar</option>
                        <option value="1" >Visible</option>
                        <option value="0">No visible</option>
                    </select>                    
                </td>                                                                      
            </tr>                
        </ng-container>
    </ng-container>
</table> 
