<ng-template #confirmarBorrar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmación de borrado</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div>
            Va a borrar el esquema seleccionado <b>{{selectedRow.filename}}</b>. ¿Desea continuar?
        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" style="background-color: #d7c4c4;"
            (click)="confirmBorrar()">Aceptar</button>
    </div>

</ng-template>
<ng-template #nuevoEsquema let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Importar nuevo esquema</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 10px;">
            <div class="col-md-12">
                <label for="file"><b>Seleccione fichero de esquema a importar</b></label>
                <input type="file" id="file" (change)="handleFileInput($event.target.files)">

            </div>
        </div>
        <div class="row" style="padding: 10px;"  *ngIf="msgErrorImport">
            <div class="col-md-12">
                <div class="panel_warning col-md-12" [innerHTML]="msgErrorImport"></div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" style="background-color: #d7c4c4;"
            (click)="importHTML()">Aceptar</button>
    </div>

</ng-template>
<app-basic-table *ngIf="tablaTiposConstantes" [table]="tablaTiposConstantes"
    (afterExecuteCrudAction)="afterExecuteCrudAction($event)"
    (onExecuteTableRowUtilityAction)="onExecuteTableRowUtilityAction($event);"
    (onExecuteTableUtilityAction)="onExecuteTableUtilityAction($event)"
    (beforeExecuteCrudAction)="beforeExecuteCrudAction($event)"></app-basic-table>