<div class="container-page">
    <arca-common-navigationbar [root]=rootSection [sections]=sections (seleccionar)="selectOption($event)">
    </arca-common-navigationbar>
    <ng-container *ngIf="selectedOption=='vc_c'">
        <app-constantes-manager></app-constantes-manager>
    </ng-container>
    <ng-container *ngIf="selectedOption=='vc_vs'">
        <app-var-simple-manager></app-var-simple-manager>
    </ng-container>    
    <ng-container *ngIf="selectedOption=='vc_tc'">
        <app-tipos-constantes-manager></app-tipos-constantes-manager>
    </ng-container>
    <ng-container *ngIf="selectedOption=='vc_vc'">
        <app-var-calculadas-manager></app-var-calculadas-manager>
    </ng-container>

</div> 