<div class="row" >
    <!-- Análisis y consulta -->
    <div class="col-md-4" *ngIf="visibleVal">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home" (click)="clickOnMainMenuOption('vm')"><i class="fa fa-check"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Validación manual (Dato bruto)</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!--Gestión -->
    <div class="col-md-4" *ngIf="visibleEditConf">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home" (click)="clickOnMainMenuOption('ec')"><i class="fa fa-pencil"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Edición y confirmación (Dato diario)</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="visibleConfiguration">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home" (click)="clickOnMainMenuOption('conf_val')"><i class="fa fa-wrench"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Configuracion</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- Validación -->
    <div class="col-md-4" *ngIf="visibleModelos">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home" (click)="clickOnMainMenuOption('mr_mol')"><i class="fa fa-cube"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Modelos de referencia</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- Gestión de trabajo -->
    <div class="col-md-4" *ngIf="visibleFormulas">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home" (click)="clickOnMainMenuOption('vc_vc')"><i class="fa fa-calculator"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Variables y Fórmulas</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="visibleCurvas">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home" (click)="clickOnMainMenuOption('cg')"><i class="fa fa-line-chart"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Curvas de gasto</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="visibleMonitor">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home" (click)="clickOnMainMenuOption('mto')"><i class="fa fa-eye"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Monitorización</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="visibleSeguridad">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home" (click)="clickOnMainMenuOption('sec_users')"><i class="fa fa-key"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Gestión de la seguridad</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="visibleSira">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home"  (click)="openSiraWeb()" target="_blank"><i class="fa fa-globe"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Acceso a SIRA</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>    
    <div class="col-md-4" *ngIf="visibleEsquemas">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home"  (click)="clickOnMainMenuOption('esquemas')" target="_blank"><i class="fa fa-sitemap"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Gestión de esquemas</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>     
    <div class="col-md-4" *ngIf="visibleInformes">
        <div class="row acceso-directo-home">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="btn-home"  (click)="clickOnMainMenuOption('informes')" target="_blank"><i class="fa fa-file-pdf-o"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Gestión de Informes</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>     
</div>