.acceso-directo-home{
    margin-bottom: 20px;
}
.btn-home{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    transition: 0.5s;
    cursor: pointer;
    width: 100%;
    text-transform: none;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    color: rgba(0, 56, 82, 1);
    border: 2px solid rgba(0, 56, 82, 1);
}

.btn-home-disabled {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    transition: 0.5s;
    cursor: pointer;
    width: 100%;
    text-transform: none;
    text-align: center;
    border-radius: 10px;
    background-color: #868e96;
    color: #495057;
    border: 2px solid #495057;
}

