<ng-template #modalPermisos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{rowSelected.cod_elemento}}</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="closeModal()"><span
                aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body" style="padding: 0px 10px 0px 10px;">
                    <div style="font-size: 12px;">
                        <div class="" style="background-color: #f9e6ad; padding: 4px; border-radius:3px;" *ngIf='rowSelected.notes' >
                            <div class="col-md-12" >
                                {{rowSelected.notes}}
                            </div>
                        </div>
                        <div class="col-md-12 pl-0" [hidden]="!loadingPermisos" style="height: 200px;">
                            <div class="tableSpinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div> 

                    <ng-container *ngFor="let nivel of listPermisosNivel">
                        <div class="row" style="padding: 2px;">
                            <div class="col-md-7 label-info">
                                {{nivel.nombre}}
                            </div>
                            <div class="col-md-5" style="text-align: right;">
                                <!--
                                <mat-checkbox name={{nivel.nombre}} class="example-margin" [(ngModel)]="nivel.visible"></mat-checkbox>
                                -->
                                <select class="form-control" name="{{nivel.nombre}}" [(ngModel)]="nivel.visible"> 
                                    <option value="-1">Heredar </option>
                                    <option value="1">Visible</option>
                                    <option value="0">No visible</option>
                                </select>                                    
                            </div>
                        </div>
                    </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"  (click)="closeModal()">Cerrar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="onSave()">Guardar</button>
    </div>
</ng-template>

<app-basic-table *ngIf="tablaTiposConstantes" [table]="tablaTiposConstantes"
    (afterExecuteCrudAction)="afterExecuteCrudAction($event)"
    (onExecuteTableRowUtilityAction)="onExecuteTableRowUtilityAction($event);">
</app-basic-table>