<app-header [profile]=profile ></app-header>
<div class="{{background}}"></div>
<app-sidebar class="d-none d-md-block d-lg-block d-xl-block"></app-sidebar> 
<div class="mainContent">
    <div>
        <arca-common-welcome  *ngIf="showWelcome" [title]=configuration.title [description]=configuration.description></arca-common-welcome>        
        <router-outlet></router-outlet>
    </div>
</div>    