.fixedBackgroundLABO {
    width: 100%;
    height: 100vH;
    background: url(../../assets/images/bg_chg.jpg) top center;
    background-size: cover;
    position: fixed;
}
.fixedBackgroundARCA {
    width: 100%;
    height: 100vH;
    background: url(../../assets/images/bg_home.jpg) top center;
    background-size: cover;
    position: fixed;
}
.fixedBackgroundSUB {
    width: 100%;
    height: 100vH;
    background: url(../../assets/images/bg_sub.jpg) top center;
    background-size: cover;
    position: fixed;
}
.fixedBackgroundSUP {
    width: 100%;
    height: 100vH;
    background: url(../../assets/images/bg_sup.jpg) top center;
    background-size: cover;
    position: fixed;
}
.fixedBackgroundVERT {
    width: 100%;
    height: 100vH;
    background: url(../../assets/images/bg_vert.jpg) top center;
    background-size: cover;
    position: fixed;
}

.fixedBackground:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.mainContent{
    position: absolute;
    margin-top: 48px;
    /*padding: 13px 20px 20px 60px; */
    padding: 20px; 
    color: #222;
    width: 100%; 
}
.fixedBackgroundClear {
    width: 100%;
    height: 100vH;
    background-size: cover;
    position: fixed;
    background: rgba(0,0, 0, .03);
}
.loadingCache{
    position: absolute;
    width: 270px;
    height: 40px;
    background-color: #e9ecef;
    top:55px;
    right: 20px;
    font-size: 14px;
    border:1px solid #ff4081;
    padding: 8px;
    border-radius: 5px;
}
.imgLoadingCache{
    height: 20px;
    width: auto;
}