<div class="container-page" *ngIf="started">
    <arca-common-navigationbar [root]=rootSection [sections]=sections (seleccionar)="selectOption($event)">
    </arca-common-navigationbar>
    <ng-container *ngIf="selectedOption=='ec' ||  selectedOption=='vm' || selectedOption=='vm_auscul' || selectedOption=='vm_saihg' || selectedOption=='vm_piezo' || selectedOption=='vm_reacar' || selectedOption=='vm_saica'">
        <app-val_manual></app-val_manual>
    </ng-container>
    <ng-container *ngIf="selectedOption=='vm_aquadam'">
        <app-val-aquadam-manager></app-val-aquadam-manager>
    </ng-container>
</div>