<div class="container-page">
    <arca-common-navigationbar [root]=rootSection [sections]=sections (seleccionar)="selectOption($event)">
    </arca-common-navigationbar>
    <ng-container *ngIf="selectedOption=='esquemas'">
        <app-esquemas-manager></app-esquemas-manager>
    </ng-container>
    
 </div>
