<div class="container-page" style="background-color: white;">

    <arca-common-navigationbar [root]=rootSection [sections]=sections (seleccionar)="selectOption($event)">
    </arca-common-navigationbar>
    <ng-container *ngIf="selectedOption=='sec_users'">
        <app-usuarios-manager></app-usuarios-manager>
    </ng-container>
    <ng-container *ngIf="selectedOption=='sec_niveles'">
        <app-niveles-manager></app-niveles-manager>
    </ng-container>    
    <ng-container *ngIf="selectedOption=='sec_elementos'">
        <app-elementos-manager></app-elementos-manager>
    </ng-container>       
    <ng-container *ngIf="selectedOption=='sec_camaras'">
        <app-camaras-manager></app-camaras-manager>
    </ng-container>    
</div> 