<ng-template #modalImportXML let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Importación de curva de gasto</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" style="font-size: 12px; padding-top: 3px;">
        <div class="row" style="padding: 10px;">
            <div class="col-md-12">
                <label for="file">Seleccione fichero a importar</label>
                <input type="file" id="file" (change)="handleFileInput($event.target.files)">
                <button mat-stroked-button type="button" class="btn" (click)="importXML()" 
                    style="float: right;">Importar</button>
            </div>
            <ng-container>
                <div class="col-md-6" *ngIf="dataImport.values" [ngStyle]="getVisible()">
                    <div style="height: 200px;overflow: auto;">
                        <table class="table-valores">
                            <thead>
                                <th style="width: 50%;"> Nivel</th>
                                <th style="width: 50%;"> Caudal</th>
                            </thead>
                            <ng-container *ngIf="dataImport.values.length == 0">
                                <tr>
                                    <td colspan="5" style="padding: 10px;color: red;">
                                        No hay valores definidos
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngFor="let value of dataImport.values">
                                <tr>
                                    <td>{{value.nivel}}</td>
                                    <td>{{value.caudal}}</td>
                                </tr>

                            </ng-container>

                        </table>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="dataImport.values" [ngStyle]="getVisible()">
                    <div style="height: 200px;overflow: auto;">
                        <table class="table-valores">
                            <thead>
                                <th style="width: 50%;"> Parámetro</th>
                                <th style="width: 50%;"> Valor</th>
                            </thead>
                            <tr>
                                <td style="width: 50%;">Nombre de curva</td>
                                <td style="width: 50%;background-color:white">{{dataImport.nameCurva}}</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Cod.Estacion</td>
                                <td style="width: 50%;background-color:white">{{dataImport.codEstacion}}</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Cod.Variable nivel</td>
                                <td style="width: 50%;background-color:white">{{dataImport.codVariableNivel}}</td>
                            </tr>

                            <tr>
                                <td style="width: 50%;">Cod.Variable Caudal</td>
                                <td style="width: 50%;background-color:white">{{dataImport.codVariableCaudal}}</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Fecha Inicio</td>
                                <td style="width: 50%;background-color:white">{{dataImport.dateStart}}</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Fecha fin</td>
                                <td style="width: 50%;background-color:white">{{dataImport.dateEnd}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="col-md-12" [ngStyle]="getVisible()">
                    <div class="container-tab container-tab-custom">
                        <div class="row">
                            <div class="col-md-12">
                                <canvas #overlay id="overlay" width="600" height="400"
                                    style="position:absolute;pointer-events:none;"></canvas>
                                <canvas #graphContainer id="graphContainer" width="800"
                                    height="300">{{ chart }}</canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="panel_warning col-md-12" [innerHTML]="msgErrorImport" *ngIf="msgErrorImport"></div>
            <div class="panel_success  col-md-12" *ngIf="imported">La curva de gasto se ha importado correctamente!
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
        <button mat-stroked-button type="button" class="btn_modal_confirm" (click)="sendXML()"
            [disabled]="!visiblePanel">Cargar en base de datos</button>
    </div>
</ng-template>
<ng-template #modalValores let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Consulta de curva de gasto {{rowSelected.desc_curva}}</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" style="font-size: 12px; padding-top: 3px;">
        <div class="row">
            <div class="col-md-6">
                <div style="height: 200px;overflow: auto;">
                    <table class="table-valores">
                        <thead>
                            <th style="width: 50%;"> Variable medida ({{rowSelected.desc_unidad_medida_nivel}})</th>
                            <th style="width: 50%;"> Variable calculada ({{rowSelected.desc_unidad_medida_caudal}})</th>
                        </thead>
                        <ng-container *ngIf="valuesCurva.length == 0">
                            <tr>
                                <td colspan="5" style="padding: 10px;color: red;">
                                    No hay valores definidos
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngFor="let value of valuesCurva">
                            <tr>
                                <td>{{value.nivel}}</td>
                                <td>{{value.caudal}}</td>
                            </tr>

                        </ng-container>

                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table-valores">
                    <thead>
                        <th style="width: 50%;"> Parámetro</th>
                        <th style="width: 50%;"> Valor</th>
                    </thead>
                    <tr>
                        <td style="width: 50%;">Nombre de curva</td>
                        <td style="width: 50%;background-color:white">{{rowSelected.desc_curva}}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">Cod.Estacion</td>
                        <td style="width: 50%;background-color:white">{{rowSelected.cod_estacion}}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">Cod.Variable nivel</td>
                        <td style="width: 50%;background-color:white">{{rowSelected.cod_variable_nivel}}</td>
                    </tr>

                    <tr>
                        <td style="width: 50%;">Cod.Variable Caudal</td>
                        <td style="width: 50%;background-color:white">{{rowSelected.cod_variable_caudal}}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">Fecha Inicio</td>
                        <td style="width: 50%;background-color:white">{{rowSelected.data_inicial  | date: 'dd/MM/yyyy'}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">Fecha fin</td>
                        <td style="width: 50%;background-color:white">{{rowSelected.data_final  | date: 'dd/MM/yyyy'}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12">
                <div class="container-tab container-tab-custom">
                    <div class="row">
                        <div class="col-md-12">
                            <canvas #overlay2 id="overlay2" width="600" height="400"
                                style="position:absolute;pointer-events:none;"></canvas>
                            <canvas #graphContainer2 id="graphContainer2" width="800" height="300">{{ chart2 }}</canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" class="btn" (click)="exportarExcel()">Exportar</button>
        <button mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
</ng-template>
<ng-template #modalRecalculo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Calculo de {{rowSelected.desc_curva}}</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" style="font-size: 12px; ">
        <div class="panel" style="padding:0px 20px 0px 20px">
            <div>
                <div class="row">
                    <div class="col-md-6 label-recalc">
                        Código de la curva
                    </div>
                    <div class="col-md-6 value-recalc">
                        {{rowSelected.desc_curva}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 label-recalc">
                        Descripción de la estación
                    </div>
                    <div class="col-md-6 value-recalc">
                        {{rowSelected.cod_estacion}} {{rowSelected.desc_estacion}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 label-recalc">
                        Variable medida
                    </div>
                    <div class="col-md-6 value-recalc">
                        {{rowSelected.cod_variable_nivel}} {{rowSelected.desc_variable_nivel}}
                        ({{rowSelected.desc_unidad_medida_nivel}})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 label-recalc">
                        Variable calculada
                    </div>
                    <div class="col-md-6 value-recalc">
                        {{rowSelected.cod_variable_caudal}} {{rowSelected.desc_variable_caudal}}
                        ({{rowSelected.desc_unidad_medida_caudal}})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 label-recalc">
                        Fecha Inicio
                    </div>
                    <div class="col-md-6 value-recalc">
                        <input class="form-control" placeholder="dd/mm/yyyy" name="fechaIniRecalculo" autocomplete="off"
                            style="width: 100px;" [matDatepicker]="mdp" [(ngModel)]="fechaIniRecalculo"
                            (click)="mdp.open()">
                        <span style="color: red;font-size: 11px;" *ngIf="errorFechaIniRecalculo">
                            {{errorFechaIniRecalculo}}</span>

                        <mat-datepicker #mdp></mat-datepicker>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                                style="color: #343a40 !important;" (click)="mdp.open()" type="button"></button>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 label-recalc">
                        Fecha Fin
                    </div>
                    <div class="col-md-6 value-recalc">
                        <input class="form-control" placeholder="dd/mm/yyyy" name="fechaFinRecalculo" autocomplete="off"
                            style="width: 100px;" [matDatepicker]="mdp2" [(ngModel)]="fechaFinRecalculo"
                            (click)="mdp2.open()">
                        <mat-datepicker #mdp2></mat-datepicker>
                        <span style="color: red;font-size: 11px;" *ngIf="errorFechaFinRecalculo">
                            {{errorFechaFinRecalculo}}</span>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar inputCalendarButton"
                                style="color: #343a40 !important;" (click)="mdp2.open()" type="button"></button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div *ngIf="recalculando" ><img  class="pl-1" src="assets/img/loading.gif" style="height: 40px;">Este proceso podría durar unos minutos, espere por favor.</div>
        <button *ngIf="!recalculando" mat-stroked-button type="button" class="btn_modal_cancel"
            (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button *ngIf="!recalculando" mat-stroked-button type="button" class="btn_modal_confirm"
            (click)="confirmRecalculo(modal)">Confirmar</button>
            
    </div>
</ng-template>
<div class="container-page" style="background-color: white;">
    <arca-common-navigationbar [root]=rootSection [sections]=sections>
    </arca-common-navigationbar>
    <app-basic-filter *ngIf="filter" [filter]="filter" (onSearch)="onSearch($event)"></app-basic-filter>
    <app-basic-table *ngIf="tablaConstantes" [table]="tablaConstantes"
        (afterExecuteCrudAction)="afterExecuteCrudAction($event)"
        (onExecuteTableRowUtilityAction)="onExecuteTableRowUtilityAction($event);"
        (onExecuteTableUtilityAction)="onExecuteTableUtilityAction($event)"
        (beforeExecuteCrudAction)="beforeExecuteCrudAction($event)"></app-basic-table>
</div>