<app-basic-filter *ngIf="filter" [filter]="filter" (onSearch)="onSearch($event)"></app-basic-filter>
<div style="height: 350px; overflow: scroll;">
<app-basic-table  *ngIf="tablaConstantes" (onChecked)="onChecked($event)" [table]="tablaConstantes" (onPagination)="onPagination($event)" (onSort)="onSort($event)"  (afterExecuteCrudAction)="afterExecuteCrudAction($event)"></app-basic-table>
</div>
 